<div style="float: left;">
  <div style="float: left; background-color: #47B9A4; padding: 10px;">
    <div style="height: 20px; width: 24px; background-color: #47B9A4;
        border-radius: 50%; text-align: center; color: #47B9A4; font-weight: 500; padding-top: 3px;
        "></div>
  </div>
  <div style="display: inline-block; background-color: #47B9A4; padding: 10px 0px 10px 0px; color: #ffffff;">
    Novedades
  </div>
  <div style="background-color: #47B9A4; height: 40px; width: 44px; border-radius: 0% 50% 50% 0;
      margin-left: -26px;float: right;"></div>
</div>
<br>
<br>
<br>

<div class="responsive-table-pae">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 shadow-none">

    <ng-container matColumnDef="fecha">
      <th class="LeftUpCorner" mat-header-cell *matHeaderCellDef><b> Fecha </b> </th>
      <td class="pl-down-0" mat-cell *matCellDef="let element2" data-label="Fecha"> {{element2.fecha |
        date:'dd-MMM-yyyy' | uppercase | withoutDots}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> <b>Descripción de la novedad</b> </th>
      <td mat-cell *matCellDef="let element2" data-label="D. novedad"> {{element2.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="archivo">
      <th class="RightUpCorner" mat-header-cell *matHeaderCellDef><b> Soporte (si aplica)</b> </th>
      <td class="pr-down-0" mat-cell *matCellDef="let element2" data-label="Soporte (si aplica)">
        <!--  {{element2.archivo}} -->
        <!-- <button class="buttonAr" (click)="downloadFile(element2.archivo)">
        <u><mat-icon class="espaciobutton" style="color: #005ACA;font-size: 15px!important;">description</mat-icon> Ver Archivo adjunto</u>
      </button> -->
        <div class="verDetalle" target="_blank" (click)="downloadFile(element2.archivo)">
          <mat-icon class="espaciobutton" style="color: #005ACA;font-size: 15px!important;">description</mat-icon> Ver
          Archivo adjunto
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator style="color: #005ACA;" #paginator [pageSize]="10 " [pageSizeOptions]="[5, 10, 50, 100] "
    showFirstLastButtons>
  </mat-paginator>

</div>