@import 'src/assets/styles/variable.scss'
@import 'src/assets/sass/theme/table-sigepae'
@import 'src/assets/styles/_radio_button.scss'


.tableFiltroUsuario
    border-spacing: 0
    color: $base-azulPAE

.tableFiltroUsuario td
    text-align: center
    font-size: 13px !important
    color: $base-azulPAE !important
    padding: 2.5px 10px
    border-top: 1px solid $base-azulPAE
    border-right: 1px solid $base-azulPAE
    border-bottom: 1px solid $base-azulPAE

.tableFiltroUsuario td b
    color: $base-azulPAE
    font-size: 13px !important

.tableFiltroUsuario td div
    color: $base-azulPAE
    font-weight: 500
    font-size: 13px !important

.tableFiltroUsuario td:first-child
    border-left: 1px solid $base-azulPAE
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px

.tableFiltroUsuario td:last-child
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px

.tableUsuarios th,
.tableUsuarios td
    font-size: 13px

table.tableUsuarios thead th:last-child
    border-top-right-radius: 20px !important

table.tableFormUsuarios tr td
    padding-top: 12px
    padding-bottom: 12px
    color: $base-azulPAE
    font-size: 14px

table.tableFormUsuarios tr td:first-child
    padding-left: 35px

table.tableFormUsuarios tr td:last-child
    padding-right: 35px

select
    border: 1px $base-azulPAE solid
    padding: 3px 10px
    width: 100%
    color: $base-azulPAE

input:not(.noRadius),
select:not(.noRadius)
    border-radius: 5px

.cssForm
    font-size: 12px

i
    font-style: normal

.tableFiltroUsuario i
    font-size: 25px

.btn.btn-middle
    background-color: aliceblue
    border: 1px solid aliceblue

.btn.btn-high
    background-color: $base-azulPAE !important
    border: 1px solid $base-azulPAE !important

.white-button
    background-color: white !important
    color: $base-azulPAE
    border-radius: 30px
    padding: 5px

    & img
        opacity: 1

.msg-alerta
    background-color: #fff
    border: none
    color: $base-azulPAE
    border-radius: 30px
    padding: 5px 15px
    text-align: left
    width: 300px

.container-mensaje
    margin-left: 10px
    width: 100%
    font-size: 12px
    font-weight: 500
    color: $base-azulPAE

b
    font-size: 12px
    font-weight: 800
    color: $base-azulPAE

span
    font-size: 13px
    color: $base-color

.button-group
    border: 1px solid $base-azulPAE
    border-radius: 10px
    padding: 0px

.border-bottom
    border-bottom: 1px dashed $base-azulPAE !important

.text-danger
    color: $danger !important

.texto-condiciones
    width: 100%
    padding: 18px 10px
    display: inline-block

.adjuntar-pdf
    cursor: pointer
    border: none
    max-width: 200px
span
    font-size: 13px
    color: $base-color
img
    height: 22px
    opacity: 50%
    margin-left: 2px
.mat-icon
    color: $base-color

.last
    width: 100%
    padding: 13px 20px
    display: inline-block
    border-top: 1px solid $base-color

.ultimo
    border-bottom: none !important

.container
    margin-right: 0px !important

.linea-azul
    border-top: 1px dashed $base-color

#panel-secundario
    border-bottom: 1px solid $base-color !important
    padding: 0 !important

#panel-body-secundario
    border-radius: 0
