@import '/src/assets/styles/variable.scss';

.BordeSuperior {
  border-top: 1px solid $base-color;
}

button {
  background-color: $base-color;
  color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
  border: $base-color 1px solid;
}

button:hover {
  cursor: pointer;
}

.SizeDialog {
  width: 50vw !important;
  padding: 20px;
}

table {
  width: 100%;
  padding: 0px 30px;
}

.mat-select-value {
  color: $base-azulPAE;
}

.TextosBlueLeft {
  text-align: left;
  color: $base-color;
}

td {
  width: 50%;
}

.CenterButton {
  margin: auto;
  display: -webkit-inline-box;
}

::ng-deep.button {
  background-color: $base-color  !important;
  color: #fff !important;
  border-radius: 20px;
  border: $base-color 1px solid;
  margin: auto;
  display: block;
}

::ng-deep.mat-dialog-container {
  padding: 0px !important;
  border-radius: 30px 30px 30px 30px !important;
  border: $base-azulPAE 1px dotted;
  box-shadow: none;
  min-width: 50%;
}

mat-form-field {
  border-radius: 20px 20px 20px 20px !important;
  border: $base-azulPAE solid 1px;
  background-color: #fff !important;
  padding: 2% !important;

}

mat-card-header {
  padding-bottom: 20px;
}

.TituloDialog {
  background-color: #E6EFFD;
  /* padding: 10px 20px; */
  text-align: center;
  color: $base-color;
  display: block;
  margin: auto;
  width: 100%;
}