<div class="SizeDialog">

  <mat-card-header class="TituloDialog">
    <ng-container>
      <div mat-dialog-actions>
        <tr class="CenterButton">
          <td>
            Aprobación de priorización
          </td>
        </tr>
      </div>
    </ng-container>
  </mat-card-header>
  <div class="course-app">
    <mat-card-content>
      <div fxLayout="row wrap" class="course-app">
        <div fxFlex.gt-md="100" fxFlex.gt-lg="100" fxFlex="100">
          <div>
            <mat-card-content class="text-center">
              <mat-dialog-content class="mat-typography" *ngIf="action != 'Borrar'; else elseTemplate">
                <br />

                <div class="example-form" [formGroup]="form" (ngSubmit)="doAction()">
                  <table>
                    <ng-container>
                      <tr>
                        <td class="BordeSeparador">
                          <div class="TextosBlueLeft">1. Municipio</div>
                        </td>
                        <td class="BordeSeparador">
                          <input matInput id="municipio" formControlName="municipio" [readonly]=true
                            class="tablaform" />
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container>
                      <tr>
                        <td class="BordeSeparador">
                          <div class="TextosBlueLeft">2. Institución educativa</div>
                        </td>
                        <td class="BordeSeparador">
                          <input matInput id="institucionEducativa" formControlName="institucionEducativa" [readonly]=true
                            class="tablaform" />
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container>
                      <tr>
                        <td class="BordeSeparador">
                          <div class="TextosBlueLeft">3. Sede</div>
                        </td>
                        <td class="BordeSeparador">
                          <input matInput id="sedeEducativa" formControlName="sedeEducativa"  [readonly]=true
                            class="tablaform" />
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container>
                      <tr>
                        <td class="BordeSeparador">
                          <div class="TextosBlueLeft">4. Matricula SIMAT</div>
                        </td>
                        <td class="BordeSeparador">
                          <input matInput id="matriculaSimat" formControlName="matriculaSimat"  [readonly]=true
                            class="tablaform" />
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container>
                      <tr>
                        <td class="BordeSeparador">
                          <div class="TextosBlueLeft"> 5. Modelo de operación tradicional</div>
                        </td>
                        <td class="BordeSeparador">
                          <input matInput id="modeloTradicional" formControlName="modeloTradicional"  [readonly]=true
                            class="tablaform" />
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container>
                      <tr>
                        <td class="BordeSeparador">
                          <div class="TextosBlueLeft"> 6. Modelo de operación de emergencia</div>
                        </td>
                        <td class="BordeSeparador">
                          <input matInput id="modeloEmergencia" formControlName="modeloEmergencia"  [readonly]=true
                            class="tablaform" />
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container>
                      <tr>
                        <td class="BordeSeparador">
                          <div class="TextosBlueLeft"> 7. Modalidad sugerida<span style="color:red;">* </span></div>
                        </td>
                        <td class="BordeSeparador">
                          <input matInput id="modalidadSugerida" required formControlName="modalidadSugerida"  [readonly]=true
                            class="tablaform" />
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container>
                      <tr>
                        <td class="BordeSeparador">
                          <div class="TextosBlueLeft"> 8. Complemntos diarios</div>
                        </td>
                        <td class="BordeSeparador">
                          <input matInput id="racionesDiarias" formControlName="racionesDiarias"
                             [readonly]=true class="tablaform control-md" />
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container *ngIf="action == 'Enviar solicitud'">
                      <tr>
                        <td class="BordeSeparador">
                          <div class="TextosBlueLeft">9. Acción<span style="color:red;">* </span></div>
                        </td>
                        <td class="BordeSeparador">
                          <mat-select class="tablaform2" id="accionAprobacion" formControlName="accionAprobacion" required>
                            <mat-option *ngFor="let item of AccionesAprobacionesList" [value]="item.id">
                              {{item.nombre}}
                            </mat-option>
                          </mat-select>
                        </td>
                      </tr>
                    </ng-container>

                    <ng-container *ngIf="action == 'Enviar solicitud'">
                      <tr>
                        <td>
                          <div class="TextosBlueLeft">10. Observaciones / Justificaciones<span style="color:red;">* </span></div>
                        </td>
                        <td>
                          <input matInput id="observaciones" formControlName="observaciones" class="tablaform" required/>
                          <div
                            *ngIf="form.get('observaciones').invalid && (form.get('observaciones').dirty || form.get('observaciones').touched)"
                            class="invalid-feedback">
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </table> 
                </div>
              </mat-dialog-content>
              <ng-template #elseTemplate>
                ¿Esta seguro de eliminar el registro <b>{{local_data.id}}</b>?
              </ng-template>

              <table class="BordeSuperior">
                <ng-container>
                  <div>
                    <div class="CenterButton text-center">
                      <div class="AlignRight">
                        <button [disabled]="form.invalid && action !='Borrar'" (click)="doAction()">{{action}}
                        </button>
                      </div>
                      <div>
                        <button (click)="closeDialog()">Cancelar
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </table>
            </mat-card-content>

          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>