<div>
    <div class="sub">Las sedes de la ETC cuentan con:</div>
    <br>
    <div class="BordeRedondoUno"  id="chart-alimento" *ngIf="yaCargoChartOptions" >
      <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-75.png "> <span class="titulo">  Área para almacenamiento:</span>
      <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [stroke]="chartOptions.stroke"
      [plotOptions]="chartOptions.plotOptions"
      [fill]="chartOptions.fill"
      [legend]="chartOptions.legend"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
    </div>
    <div class="BordeRedondoTres"  id="chart-preparacion" *ngIf="yaCargoChartOptions2">
      <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-76.png "> <span class="titulo">  Área para preparación:</span>
      <apx-chart
      [series]="chartOptions1.series"
      [chart]="chartOptions1.chart"
      [stroke]="chartOptions1.stroke"
      [plotOptions]="chartOptions1.plotOptions"
      [fill]="chartOptions1.fill"
      [legend]="chartOptions1.legend"
      [yaxis]="chartOptions1.yaxis"
      [xaxis]="chartOptions1.xaxis"
      [colors]="chartOptions1.colors"
      [dataLabels]="chartOptions1.dataLabels"
      [grid]="chartOptions1.grid"
      [tooltip]="chartOptions1.tooltip"
    ></apx-chart>
    </div>
    <div class="BordeRedondoTres"  id="chart-consumo" *ngIf="yaCargoChartOptions3">
      <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-79.png "> <span class="titulo">  Área para consumo:</span>
      <apx-chart
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [stroke]="chartOptions2.stroke"
      [plotOptions]="chartOptions2.plotOptions"
      [fill]="chartOptions2.fill"
      [legend]="chartOptions2.legend"
      [yaxis]="chartOptions2.yaxis"
      [xaxis]="chartOptions2.xaxis"
      [colors]="chartOptions2.colors"
      [dataLabels]="chartOptions2.dataLabels"
      [grid]="chartOptions2.grid"
      [tooltip]="chartOptions2.tooltip"
    ></apx-chart>
    </div>
    <div class="BordeRedondoTres"  id="chart-residuos" *ngIf="yaCargoChartOptions4">
      <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-67.png "> <span class="titulo"> Área para disposición de residuos:</span>
      <apx-chart
      [series]="chartOptions3.series"
      [chart]="chartOptions3.chart"
      [stroke]="chartOptions3.stroke"
      [plotOptions]="chartOptions3.plotOptions"
      [fill]="chartOptions3.fill"
      [legend]="chartOptions3.legend"
      [yaxis]="chartOptions3.yaxis"
      [xaxis]="chartOptions3.xaxis"
      [colors]="chartOptions3.colors"
      [dataLabels]="chartOptions3.dataLabels"
      [grid]="chartOptions3.grid"
      [tooltip]="chartOptions3.tooltip"
    ></apx-chart>
    </div>
    <div class="BordeRedondoTres"  id="chart-sanitarias" *ngIf="yaCargoChartOptions5">
        <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-68.png "> <span class="titulo"> Áreas sanitarias:</span>
        <apx-chart
        [series]="chartOptions4.series"
        [chart]="chartOptions4.chart"
        [stroke]="chartOptions4.stroke"
        [plotOptions]="chartOptions4.plotOptions"
        [fill]="chartOptions4.fill"
        [legend]="chartOptions4.legend"
        [yaxis]="chartOptions4.yaxis"
        [xaxis]="chartOptions4.xaxis"
        [colors]="chartOptions4.colors"
        [dataLabels]="chartOptions4.dataLabels"
        [grid]="chartOptions4.grid"
        [tooltip]="chartOptions4.tooltip"
      ></apx-chart>
      </div>
    <div class="BordeRedondoDos"  id="chart-dotacion" *ngIf="yaCargoChartOptions6" >
      <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-77.png "> <span class="titulo">  Dotación y equipos suficientes:</span>
      <apx-chart
      [series]="chartOptions5.series"
      [chart]="chartOptions5.chart"
      [stroke]="chartOptions5.stroke"
      [plotOptions]="chartOptions5.plotOptions"
      [fill]="chartOptions5.fill"
      [legend]="chartOptions5.legend"
      [yaxis]="chartOptions5.yaxis"
      [xaxis]="chartOptions5.xaxis"
      [colors]="chartOptions5.colors"
      [dataLabels]="chartOptions5.dataLabels"
      [grid]="chartOptions5.grid"
      [tooltip]="chartOptions5.tooltip"
    ></apx-chart>
    </div>
    
    </div>
    <br>