@import '/src/assets/styles/variable.scss'
@import '../../../../../../assets/sass/theme/table-sigepae'

.label-title
    color: #E23465

.textarea-objeto-contrato
    max-width: 600px

.subtitulo-precios-acordados
    padding: 13px 20px
    width: 11% !important

.th-style
    color: #005ACA !important
    font-weight: 600 !important
    font-size: 13px !important
    text-align: center !important
    background-color: #e2ecfd !important

.title-style
    color: #005ACA !important
    font-weight: 600 !important
    font-size: 13px !important

.input-size
    width: 50px !important

.icono-documento-adjunto
    width: 15px
    height: 20px

@import "~bootstrap/scss/bootstrap-grid"

@include media-breakpoint-down(lg)
  .form-item
    padding-left: 0 !important
    padding-right: 0 !important

.text-color-primary
    color: $base-color

.input-aprobacion
    color: $base-color
