@import '/src/assets/styles/variable.scss'
@import '../../../../../../../assets/sass/theme/table-sigepae'
@import '../../../../../../../assets/styles/radio_button'

.width-warning-title
    max-width: 400px

.width-totales-fuentes-financiacion
    width: 200px !important

.tableFiltroUsuario
    border-spacing: 0
    color: #005ACA

.tableFiltroUsuario td
    text-align: center
    font-size: 13px !important
    color: #005ACA !important
    padding: 2.5px 10px
    border-top: 1px solid #005ACA
    border-right: 1px solid #005ACA
    border-bottom: 1px solid #005ACA

.tableFiltroUsuario td b
    color: #005ACA
    font-size: 13px !important

.tableFiltroUsuario td div
    color: #005ACA
    font-weight: 500
    font-size: 13px !important

.tableFiltroUsuario td:first-child
    border-left: 1px solid #005ACA
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px

.tableFiltroUsuario td:last-child
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px

.tableUsuarios th,
.tableUsuarios td
    font-size: 13px

table.tableUsuarios thead th:last-child
    border-top-right-radius: 20px !important

table.tableFormUsuarios tr td
    padding-top: 12px
    padding-bottom: 12px
    color: #005ACA
    font-size: 14px

table.tableFormUsuarios tr td:first-child
    padding-left: 35px

table.tableFormUsuarios tr td:last-child
    padding-right: 35px

input,
select
    border: 1px #005ACA solid
    padding: 3px 10px
    width: 100%
    color: #005ACA

input:not(.noRadius),
select:not(.noRadius)
    border-radius: 5px

.cssForm
    font-size: 12px

i
    font-style: normal

.tableFiltroUsuario i
    font-size: 25px

.btn.btn-middle
    background-color: aliceblue
    border: 1px solid aliceblue

.btn.btn-high
    background-color: #005ACA !important
    border: 1px solid #005ACA !important

.disabled
    pointer-events: none
    opacity: 0.4

.disabledWithoutOpacity
    pointer-events: none

.mt-2
    margin-top: 20px

.disabled
    pointer-events: none
    opacity: 0.4

.disabledWithoutOpacity
    pointer-events: none

.mt-2
    margin-top: 20px

.disabledWithOpacity
    pointer-events: none
    opacity: 0.8

table
  border: 1px solid $base-azulPAE
  border-radius: 10px

#tabla-categoria
    padding: 0
    color: $base-azulPAE
    tr, td
        border: none !important

    #td-tabla-categoria1
        border-bottom: 1px dotted $base-azulPAE !important