<div class="SizeDialog">

  <mat-card-header class="TituloDialog">
    <ng-container>
      <div mat-dialog-actions>
        <tr class="CenterButton">
          <td>
            <strong>Seleccione el rol deseado</strong>
          </td>
        </tr>
      </div>
    </ng-container>
  </mat-card-header>
</div>
<div class="course-app">
  <div class="example-form" [formGroup]="form" (ngSubmit)="doAction()">
    <mat-card-content>
      <div fxLayout="row wrap" class="course-app">
        <div fxFlex.gt-md="100" fxFlex.gt-lg="100" fxFlex="100">
          <div>
            <mat-card-content class="text-center">
              <mat-dialog-content class="mat-typography">
                <br />
                <table>
                  <ng-container>
                    <tr>
                      <div class="container">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="TextosBlueLeft"> Rol</div>
                          </div>
                          <div class="col-md-10">
                            <mat-select class="control-md tablaform" id="rol" formControlName="rol">
                              <mat-option *ngFor="let item of rolesFinalList" [value]="item.id">{{item.name}}
                              </mat-option>
                            </mat-select>
                          </div>

                        </div>
                      </div>

                    </tr>
                  </ng-container>
                </table>
              </mat-dialog-content>
              <br>
              <table class="BordeSuperior">
                <ng-container>
                  <div>
                    <div class="CenterButton text-center">
                      <div class="AlignRight">
                        <button [disabled]="!form.valid" (click)="doAction()">Cambiar
                        </button>
                      </div>
                      <div>
                        <button (click)="closeDialog()">Cancelar
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </table>
            </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>