@import '/src/assets/styles/variable.scss';

.TablaObservacion{
    display: block;
}
.inputFull{
    width: 100%;
}
.sub {
    font-size: 13px;
    color: #ed0057 !important;
}
.linkdisable{
    pointer-events: none;
  }
.linea{
    background-color: #ed0057 !important;
}
img {
    height: 30px;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 0%;
}

table {
    width: 100%;
    border-collapse: separate;
}
.bordeado{
    border-radius: 20px;

    border: 1px solid $base-azulPAEGov;

}
.BordeadoSup{
    border: 1px solid #E6EFFD;
    border-left: 1px solid #E6EFFD!important;
    border-bottom: 1px solid $base-color;
    border-radius: 20px 20px 1px 1px;
    background-color: #E6EFFD;
    color: $base-azulPAEGov;

    padding: 2%;
}
.BordeadoInf{
    border: 1px solid #FFF;
    border-radius: 1px 1px 20px 20px;
    background-color: #FFF;
    color: $base-azulPAEGov;
    padding: 0%;
}
.BordeNone{
    border-right: $base-azulPAEGov 1px solid;
    color: $base-azulPAE;
    padding: 0%;
}
.BordeNone{
    border-right: $base-azulPAE 1px solid;
    border-style: hidden solid hidden hidden!important;

}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    color: $base-color;
    font-size: 13px;
}

// th.mat-header-cell:first-child, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
// border-top-left-radius: 20px !important;
// }
th.mat-header-cell.cdk-header-cell.cdk-column-select.mat-column-select.ng-star-inserted {
    border-top-left-radius: 20px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 24px;
    border-right: 1px solid;
}

td.mat-cell {
    padding: 16px 0 16px 0;

    border-bottom: 1px dotted $base-azulPAEGov;
    //border-style: dotted;
}


table thead {
    background-color: $header_table !important;
    color: $base-color;
    border: 1px solid;
}

table thead th {

    border-top: 1px solid $base-azulPAEGov;
    border-right: 1px solid $base-azulPAEGov;
    padding: 20px;
}

table thead th:first-child {

    border-left: 1px solid $base-azulPAEGov;

    border-top-left-radius: 20px !important;
}

table td:first-child {

    border-left: 1px solid $base-azulPAEGov;

}

table.left-radius thead th:first-child {
    border-top-left-radius: 20px !important;
    border-left: 10px solid $base-azulPAEGov;

}

table.right-radius thead th:last-child {
    border-top-right-radius: 20px;
    border-left: 1px solid $base-azulPAEGov;

}

.textagregar {
    color: $base-color;
}

table tbody {
    color: $base-color;
}

table tbody td {
    border-bottom: 1px dashed $base-color !important;
}

table tbody tr td:first-child {
    border-left: 1px solid $base-color;
}

table tbody tr td:last-child {
    border-right: 1px solid $base-color;
}

table tbody tr:last-child td {
    border-bottom: 1px solid $base-color;
    border-bottom-style: solid !important;
}

td.mat-cell:first-of-type {
    padding-left: 0 px !important;
}
.table-responsive {
    padding-left: 0px !important;
}

.titletable {
    float: right;
    background-color: $base-color !important;
    color: #fff !important;
    width: fit-content;
    padding: 4px 75px !important;
    margin-bottom: -1px !important;
    border-radius: 12px 12px 0px 0px !important;
}

.buttonAr {
    color: $base-color;
    border-color: $base-color;
    padding: 14px 18px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 12px 12px 12px 12px !important;
}

.espaciobutton {
    margin-left: 5px !important;
}

// .mat-table::ng-deep {

//   border: 1px solid $base-azulPAEGov;

// }
th.mat-header-cell {
    text-align: center !important;
    background-color: #E2ECFD !important;
    //color: #fff!important;
    width: fit-content;
    padding: 4px 75px !important;
    margin-bottom: -1px !important;
    border: 1px solid $base-azulPAEGov;
    padding: 20px !important;
}

.red {
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: green;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.yellow {
    background-color: yellow;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.mat-row:hover .mat-cell {
    background-color: $base-color;
    color: #ffffff;
}

.mat-column-select {
    overflow: initial;
}

.LeftUpCorner {
    border-top-left-radius: 20px;

}

.LeftUpCorner2 {
    border-top-right-radius: 20px;

}

.buttontog {

    border-color: $base-color;
    border-radius: 10px 10px 10px 10px !important;
    font-size: 13px;
    text-align: center;

}

:host ::ng-deep .mat-button-toggle-checked {
    color: white !important;
    background-color: $base-color !important;
    padding: 1px!important;
}
.botonaprobar{
    border-color: $base-color !important;
    border-radius: 10px 10px 10px 10px !important;
    border: 1px solid;
    color: #ffffff;
    background-color: $base-color !important;
}
input[type="text"] {
    font-size: 13px;
    //height: 50px;
    width: 80%;
    text-align: center;

    border: 1px $base-azulPAEGov solid;
    color: $base-azulPAEGov;

    border-radius: 5px;
  }


  input:not(.noRadius),
  select:not(.noRadius) {
    border-radius: 5px;
  }

  button:disabled{
    background-color: gray;
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    border: $base-color 1px solid;
  }
  button:active{
    background-color: $base-color;
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    border: $base-color 1px solid;
  }
  button:hover {
    cursor: pointer;
  }
  button{
    background-color: $base-color;
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    border: $base-color 1px solid;
  }

  ::ng-deep.swal2-container.swal2-center > .swal2-popup {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    font-size: 13px;
    border-radius: 20px !important;
    background-image: url(../../../../../../assets/iconos_PAE/PNG/FondoMatrizDialog.png);
    background-size: cover;
    padding: 5% 0%;
    width: 50%;
    //height: 20%;
    background-position: center;
    color:  $base-color !important;
  }

  .swal2-html-container {
    text-align: center!important;
  }
  .swal2-styled.swal2-confirm {

    border: 1px solid $base-azulPAEGov;
    border-radius: 0px !important;
    background: initial;
    background-color: $base-azulPAEGov;
    color: #fff !important;
    font-size: 13px;
    box-shadow: none;
}


.swal-button--cancel {
    border-radius: 20px !important;
}

.tableFiltroUsuario {
    border-spacing: 0;
    color: $base-azulPAEGov;

  }

  .tableFiltroUsuario td {
    text-align: center;
    font-size: 13px !important;
    color: $base-azulPAEGov !important;
    padding: 2.5px 10px;
    border-top: 1px solid $base-azulPAEGov;
    border-right: 1px solid $base-azulPAEGov;
    border-bottom: 1px solid $base-azulPAEGov;
  }

  .tableFiltroUsuario td b {
    color: $base-azulPAEGov;
    color: $base-azulPAE !important;
    padding: 2.5px 10px;
    border-top: 1px solid $base-azulPAE;
    border-right: 1px solid $base-azulPAE;
    border-bottom: 1px solid $base-azulPAE;
  }

  .tableFiltroUsuario td b {
    color: $base-azulPAE;
    font-size: 13px !important;
  }

  .tableFiltroUsuario td div {

    color: $base-azulPAEGov;

    font-weight: 500;
    font-size: 13px !important;
  }

  .tableFiltroUsuario td:first-child {

    border-left: 1px solid $base-azulPAEGov;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .tableFiltroUsuario td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .tableFiltroUsuario i {
    font-size: 13px;
  }

  .mat-card {
    box-shadow: 0px 5px 20px rgb(0 0 0 / 5%) !important;
    -webkit-box-shadow: 0px 5px 20px rgb(0 0 0 / 5%) !important;
    margin-top: 15px  !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px !important;
    border-radius: 4px;
}

.mat-row:hover .verDetalle {
    background-color: $base-color;
    color: #ffffff !important;
  }

  .verDetalle{
    cursor:pointer;
    text-decoration: underline;
    font-size: 13px;
  }
  .verDetalle:hover{
    background-color: $base-color;
    color: #ffffff !important;
  }

.bordeado-table-filter{
   border-radius: 10px;
   border: 1px solid $base-azulPAEGov;
}

.border-right-table-filter {
    border-right: 1px solid $base-color;
}

.flex-grow-table {
    &-1 {
        flex-grow: 1;
    }
    &-2_6 {
        flex-grow: 2.6;
    }
    &-1_5 {
        flex-grow: 1.5;
    }
}

@import "~bootstrap/scss/bootstrap-grid";

@include media-breakpoint-down(lg) {
  .border-top-table-filter {
    border-top: 1px solid $base-color;
  }
}

