//@import '../../../../../../assets/styles/variable';
@import 'src/assets/styles/variable';
*{
  font-size: $base-fontSize!important;
}
.BordeSuperior {
  border-top: 1px solid $base-color;
}

button {
  background-color: $base-color;
  color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
  border: $base-color 1px solid;
  margin: 10px;
}

button:disabled {
  background-color: gray;
  color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
  border: $base-color 1px solid;
}

button:hover {
  cursor: pointer;
}
.mat-select-value{
  color: $base-azulPAE;
}

.Noborder{
  border: none!important;
}
.LeftUpCorner2{
  border-top-right-radius:20px;
  border-top-left-radius:20px;

}

table {
  width: 100%;
  padding: 0px !important;
  border-style: hidden!important;
}

.TextosBlueLeft {
  text-align: left;
  color: $base-color;
}

td {
  width: 50%;
  border: 0px solid $base-azulPAE;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    color: $base-color;
    font-size: 14px;
}

// th.mat-header-cell:first-child, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
// border-top-left-radius: 20px !important;
// }
th.mat-header-cell.cdk-header-cell.cdk-column-select.mat-column-select.ng-star-inserted {
    border-top-left-radius: 20px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 24px;
    border-right: 1px solid;
}

td.mat-cell {
    padding: 10px 10px 0 20px!important;
    border-bottom: 1px hidden $base-azulPAE!important;
    //border-style: dotted;
    text-align: left;
}
td.mat-cell:hover {
  border-bottom: 1px hidden $base-azulPAE;
  background-color: $base-azulPAE!important;
  color: #fff!important;
  //border-style: dotted;
}

table thead {
    background-color: $header_table !important ;
    color: $base-color;
    border: 1px solid;
}

table thead th {
    border-top: 1px solid $base-azulPAE;
    border-right: 1px solid $base-azulPAE;
    padding: 20px;
}

table thead th:first-child {
    border-left: 1px solid $base-azulPAE;
    border-top-left-radius: 20px !important;
}

table td:first-child {
    border-left: 1px solid $base-azulPAE;
}

table.left-radius thead th:first-child {
    border-top-left-radius: 20px !important;
    border-left: 10px solid $base-azulPAE;
}

table.right-radius thead th:last-child {
    border-top-right-radius: 20px;
    border-left: 1px solid $base-azulPAE;
}

table tbody {
    color: $base-color;
}

table tbody td {
    border-bottom: 1px dashed $base-color !important;
}

table tbody tr td:first-child {
    border-left: 1px solid $base-color;
}

table tbody tr td:last-child {
    border-right: 1px solid $base-color;
}

table tbody tr:last-child td {
    border-bottom: 1px solid $base-color;
    border-bottom-style: solid !important;
}

/* td.mat-cell:first-of-type {
    padding-left: 0px !important;
} */
.CenterButton {
  margin: auto;
  display: -webkit-inline-box;
}

::ng-deep.button {
  background-color: $base-color !important;
  color: #fff !important;
  border-radius: 20px;
  border: $base-color 1px solid;
  margin: auto;
  display: block;
}

::ng-deep.mat-dialog-container {
    padding: 0px !important;
    border-radius: 20px 20px 0px 0px!important;
    border: $base-azulPAE 1px solid;
    box-shadow: none;
    /* min-width: 50%; */
    position: absolute;
    right: 12px;
    bottom: 0;
    height: auto;
    width: 400px;
}

mat-form-field {
  border-radius: 20px 20px 20px 20px !important;
  border: $base-azulPAE solid 1px;
  background-color: #fff !important;
 // padding: 2% !important;

}


mat-card-header {
  padding-bottom: 20px;
}

.TituloDialog {
  background-color: $base-color;
  /* padding: 10px 20px; */
  text-align: center;
  color: #fff;
  display: block;
  margin: auto;
  width: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.buttonAr3 {
  background-color: $base-color;
  color: #fff;
  border-radius: 50px;
  border: 1px solid $base-color;
  padding: 2%;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.BordeSeparador {
  border-bottom: $base-azulPAE 1px hidden;
}

.mat-dialog-content {
  display: block;
  margin: 0px;
  padding: 0px;
  max-height: 65vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.BordeSuperior {
  border-top: 1px solid $base-color;
}

.form-control {
  border: none !important;
}

.tablaform {
  border-radius:20px 20px 20px 20px !important;
  border: $base-azulPAE solid 1px;
  background-color: #fff!important;
  padding: 1%!important;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $base-color;
  width: 100%;
  text-align: center;
}

@import "~bootstrap/scss/bootstrap-grid";

@include media-breakpoint-down(sm) {
  ::ng-deep.mat-dialog-container {
    right: 0;
    width: 100%;
  }
}
