@import '/src/assets/styles/variable.scss';



::ng-deep.container-fluid {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

/* --------------------------- TABS */
.AlignRight {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

:host ::ng-deep .mat-tab-label {
    font-family: 'Poppins', sans-serif;
    border-radius: 20px 20px 0px 0px !important;
    color: $base-azulPAE  !important;
    font-size: 13px;
    background-color: #fff !important;
    width: 30%;
}

.mat-select-value, .TextBlue {
    color: $base-azulPAE;
}
.strongheader{
    color: $base-azulPAE;
    font-size: 15px;
}

:host ::ng-deep .mat-tab-label-active {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-width: 2px;
    border-color: $base-azulPAE;
    border-bottom-color: white;
    border-style: solid solid hidden solid;
    border-radius: 20px 20px 0px 0px !important;
    color: $base-colorverde  !important;
    background-color: white !important;
    width: 25%;
}

:host ::ng-deep.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: none !important;
    display: none !important;
}

:host ::ng-deep.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: none !important;
    display: none !important;
    /* background-color: #1e88e5; */
}

:host ::ng-deep.blue .mat-tab-group.mat-primary .mat-ink-bar,
.blue .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: none !important;
    display: none !important;
    /* background-color: #1e88e5; */

}

/* --------------------------- FIN TABS */
.tablaform {
    width: 80%;
    border-color: $base-azulPAE;
    color: $base-azulPAE;
    border: 1px solid;
    border-radius: 12px 12px 12px 12px !important;
    font-size: 13px;
}

.tablaform {
    width: 100%;
    border-color: $base-azulPAE;
    color: $base-azulPAE;
    border: 1px solid;
    border-radius: 12px 12px 12px 12px !important;
    font-size: 13px;
}
.tablaformc {
    width: 100%;
    border-color: $base-azulPAE;
    color: $base-azulPAE;
    border: 1px solid;
    border-radius: 12px 12px 12px 12px !important;
    font-size: 13px;
    padding: 10px;
}
.tablaformT {
    width: 100%;
    border-color: $base-azulPAE;
    color: $base-azulPAE;
    border: 1px solid;
    border-radius: 12px 12px 12px 12px !important;
    font-size: 13px;
    padding: 10px;
}

.Acomodar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.AcomodarBotones {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    height: 100% !important;
}

.BotonesPadding {
    background-color: $base-azulPAE;
}

mat-card {
    box-shadow: none !important;
    margin: 0 !important;
}

.ClickCursor {
    cursor: pointer;
}

.EspacioField2 {
    padding: 0px;
    width: 35%
}
.EspacioField{
    padding-left: 10px;
    padding-right: 10px;
    width: 35%;
}

.lineaAzulX {
    border-right: 1px solid $base-azulPAE;

}

mat-form-field {
    border-radius: 20px 20px 20px 20px !important;
    border: $base-azulPAE solid 1px;
    background-color: #fff !important;
    padding: 0%;
}

.Redondeado {
    border: 1px solid $base-azulPAE;
    border-radius: 20px !important;
    padding: 10px !important;
    width: 100%;
    display: flex;
    align-items: center;
}

.BotonAzul {
    background-color: $base-azulPAE;
    color: #fff;
    border: 1px solid $base-azulPAE;
    border-radius: $base-borderRadius  !important;
    cursor: pointer;
    width: 90%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 13px;
    text-align: center;
}

.centerIcon {
    margin-top: 5%;
    inline-size: min-content;
}

.alinearIcon {
    display: inline;

}

.BordeRedondoLeft {
    border-radius: 20px;
    border: $base-azulPAE solid 1px;
    padding: 0px 0px !important;
}

.BordeRedondoRight {
    border-radius: 0px 20px 20px 1px;
    border: $base-azulPAE solid 1px;
    padding: 0px 0px;
}

.BordeBottom {
    border-right: 1px solid $base-azulPAE;
}

.SizeFilter {
    /* width: 35%; */
    margin-left: 1%;
    padding: 20px 10px;
}

.SizeBotones {
    width: auto;
    height: 100%;
}

.MarginSepara {
    margin-left: 1%;
}

.separaIcon {
    padding-right: 0px;
    margin-right: 10px;
}

.BotonLeft {
    background-color: $base-azulPAE;
    color: #fff;
    min-height: 100%;
    min-width: 100%;
    padding: 0 10px;
    height: 100px;
    width: 200px;
    border-radius: 20px 1px 1px 20px;
    margin: 0%;
    text-align: left;
    min-inline-size: max-content !important;
}

.BotonRight {
    background-color: #E2E6FE;
    color: $base-azulPAE;
    min-height: 100%;
    min-width: 100%;
    padding: 0 10px;
    height: 100px;
    width: 200px;
    border-radius: 1px 20px 20px 1px;
    /* margin: 0% 20%; */
    text-align: left;
    min-inline-size: max-content !important;
}

.CenterAll {
    display: block;
    margin: auto;
}

mat-icon {
    color: #E2E6FE;
}

.Invisible {
    display: none;
}

.iconLargo {
    border-radius: 10px;
}

.titletable {
    float: right;
    background-color: $base-azulPAE  !important;
    color: #fff !important;
    width: fit-content;
    padding: 4px 75px !important;
    margin-bottom: -1px !important;
    border-radius: 5px 10px $base-azulPAE;
    -webkit-border-radius: 5px 10px;
}

/* .itemPorcentaje{
    margin-right: auto;
    display: block;
} */
.rectangle {
    background-color: blue;
    width: 60px;
    height: 15px;
    border-radius: 40%;
}

.circulo {
    background-color: #E2ECFD !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /*     margin: auto;
    display: block; */
}

.smallLetter {
    font-size: 10px;
    margin: 0px;
    letter-spacing: 0px;
}

.LeftUpCorner {
    border-top-left-radius: 20px;

}

.RightUpCorner {
    border-top-right-radius: 20px;

}


table {
    width: 100%;
    border-collapse: separate;
    /* border: $base-azulPAE 1px solid;
    border-style: hidden solid solid solid;
    border-radius: 20px 20px 1px 1px; */
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    color: $base-azulPAE;
    font-size: 14px;
    text-align: center;
}

// th.mat-header-cell:first-child, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
// border-top-left-radius: 20px !important;
// }
th.mat-header-cell.cdk-header-cell.cdk-column-select.mat-column-select.ng-star-inserted {
    border-top-left-radius: 20px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 24px;
    border-right: 1px solid;
}


.titletable {
    float: right;
    background-color: $base-azulPAE  !important;
    color: #fff !important;
    width: fit-content;
    padding: 4px 75px !important;
    margin-bottom: -1px !important;
    border-radius: 12px 12px 0px 0px !important;
}

.buttonAr {
    color: $base-azulPAE;
    border-color: $base-azulPAE;
    padding: 14px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px 12px 12px 12px !important;
}

.espaciobutton {
    margin-left: 5px !important;
}

// .mat-table::ng-deep {
//   border: 1px solid $base-azulPAE;
// }
th.mat-header-cell {
    text-align: center !important;
    background-color: #E2ECFD !important;
    //color: #fff!important;
    width: fit-content;
    padding: 4px 75px !important;
    margin-bottom: -1px !important;
    /* border: 1px solid $base-azulPAE; */
    padding: 20px !important;
}

.mat-row:hover .mat-cell {
    background-color: $base-azulPAE;
    color: #ffffff;
}

.mat-column-select {
    overflow: initial;
}

.card {
    border: none;
}


.bordeAtras {
    text-align: center !important;
    border: 1px solid $base-azulPAE;
    border-radius: 13px;
    padding: 15px;
}

//titulo actualizado
.LineaAzul {
    border-top: $base-azulPAE solid 1px;
}

.row {
    margin: 0px !important;
}

.contratos{
    text-align: left;
    color:$base-azulPAE;
    font-size: $base-fontSize;
    //margin-top: 20px;
    margin-left: 10px;

}
.tab-control-secondary .tab-item.active div {
    background-color: #ffffff;
    color: #00A9AB !important;
    border: 1px solid #005ACA;
    border-bottom: none;
}

.h-fit-content {
  height: fit-content;
}

.w-fit-content {
  width: fit-content;
}
