<br>
<div class="col-12 iconR">
    <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-285.png" width="30px" height="30px">
    Materia prima: {{productoTemp.nombre}}
    <div class="float-xl-right float-none d-flex my-2 my-xl-0">
        <button (click)="goToBack()" class="BordeRedondoAgregar w-down-50">
            <img class="alignImg" src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-295.png" height="20px"
                width="auto">Regresar al listado</button>
        <button (click)="goToEdit()" *ngIf="allowEdit && !isEdit" class="BordeRedondoAgregar marginIzq w-down-50"
            [ngClass]="{'linkdisable':!getModulePermission(108,'editar')}">
            <img class="alignImg" src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-3.png" height="20px"
                width="auto">Editar producto</button>
        <button *ngIf="isEdit" (click)="saveChanges()" class="BordeRedondoAgregar marginIzq w-down-50">
            <img class="alignImg" src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-6.png" height="20px"
                width="auto">Guardar cambios</button>
    </div>
    <hr class="lineR">
    <div *ngIf="allowEdit">
        <mat-icon [ngClass]="getStateColor(productoTemp.iD_EstadoRegistro)">
            circle
        </mat-icon>
        {{productoTemp.sID_EstadoRegistro}}
    </div>
</div>
<br>
<div fxLayout="row wrap">
    <div class="d-flex">
        <div style="float: left; background-color: #E23465; padding: 10px 8px 10px 10px;">
            <div class="NumeroPendiente">
                1
            </div>
        </div>
        <div
            style="display: inline-block; background-color: #E23465; padding: 12px; color: #ffffff; padding-left: 0px;">
            Información general
        </div>
        <div class="FinalRedondo"></div>
    </div>
</div>

<div class="w-100" [formGroup]="productForm">

  <div class="px-3 px-xl-0 d-flex flex-column gap-down-10-px pt-lg-down-1">

    <div class="lineDashed d-flex flex-column flex-xl-row">
      <div class="alignTd w-down-100 d-flex align-items-center">
        <div class="TextosBlueLeft ml-lg-down-0">
          1. Nombre del producto: <span *ngIf="isEdit" style="color:red;">*</span>
        </div>
      </div>
      <div class="flex-grow-1">
        <input matInput id="NombreProducto" formControlName="NombreProducto" class="tablaForm2 w-down-lg-98 h-auto"
            [readonly]="!isEdit" (keydown)="onKeyNumber2($event)" />
      </div>
    </div>

    <div class="lineDashed d-flex flex-column flex-xl-row">
      <div class="alignTd w-down-100 d-flex align-items-center">
        <div class="TextosBlueLeft ml-lg-down-0">
          2. Grupo de alimentos: <span *ngIf="isEdit" style="color:red;"> *</span>
        </div>
      </div>
      <div class="flex-grow-1">
        <mat-select class="tablaForm w-down-100 h-auto form-control" id="GrupoAlimentos" formControlName="GrupoAlimentos" required
            placeholder="Elija una opción" (selectionChange)="onGrupoClick($event.value)"
            [disabled]="!isEdit">
            <mat-option *ngFor="let item of grupoAlimentosList" [value]="item.id">{{item.nombre}}
            </mat-option>
        </mat-select>
      </div>
    </div>

    <div class="lineDashed d-flex flex-column flex-xl-row">
      <div class="alignTd w-down-100 d-flex align-items-center">
        <div class="TextosBlueLeft ml-lg-down-0">
          3. Subgrupo de alimentos: <span *ngIf="isEdit" style="color:red;">
          *</span>
        </div>
      </div>
      <div class="flex-grow-1">
        <mat-select class="tablaForm w-down-100 h-auto form-control" id="SubgrupoAlimentos" formControlName="SubgrupoAlimentos" required
            placeholder="Elija una opción" [disabled]="!isEdit">
            <mat-option *ngFor="let item of selectSubGrupoAlimentosList" [value]="item.iD_SubGrupoAlimento">
                {{item.subGrupoAlimento}}</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="lineDashed d-flex flex-column flex-xl-row">
      <div class="alignTd w-down-100 d-flex align-items-center">
        <div class="TextosBlueLeft ml-lg-down-0">
          4. Imagen del producto (opcional):
        </div>
      </div>
      <div class="flex-grow-1">
        <button *ngIf="isEdit" class="buttonImg btn-file w-down-100 h-auto">Adjuntar imagen
          <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-87.png " height="15px" width="auto">
          <input id="file-upload" name="file-upload" type="file" data-max-size="3064" required
              (change)="onFileSelected($any($event).currentTarget.files, 'image')"
              accept="application/pdf">
          <p class="textButtonImg">{{contenidoRespuesta}}</p>
        </button>
        <button *ngIf="!isEdit" class="buttonImg btn-file w-down-100 h-auto" (click)="downloadImage()"> Ver imagen
            <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-87.png " height="15px" width="auto">
            <p class="textButtonImg">{{productoTemp.pathlmagenAlimento}}</p>
        </button>
      </div>
    </div>

    <div class="lineDashed d-flex flex-column flex-xl-row">
      <div class="alignTd w-down-100 d-flex align-items-center">
        <div class="TextosBlueLeft ml-lg-down-0">
          5. Tipo de fuente de información nutricional: <span *ngIf="isEdit" style="color:red;"> *</span>
        </div>
      </div>
      <div class="flex-grow-1">
        <mat-select class="tablaForm2 w-down-100 h-auto form-control" id="TipoFuenteInformacionNutricional"
            formControlName="TipoFuenteInformacionNutricional" required placeholder="Elija una opción"
            [disabled]="!isEdit">
            <mat-option *ngFor="let item of tipoFuenteNutricionalList" [value]="item.id">
                {{item.nombre}}</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="lineDashed d-flex flex-column flex-xl-row">
      <div class="alignTd w-down-100 d-flex align-items-center">
        <div class="TextosBlueLeft2 ml-lg-down-1">
          5.1. Documento soporte: <span *ngIf="isEdit" style="color:red;">*</span>
        </div>
      </div>
      <div class="flex-grow-1">
        <button *ngIf="isEdit" class="buttonImg btn-file w-down-100 h-auto" style="padding-left: 0px !important;">Adjuntar
          archivo
          <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-87.png " height="15px" width="auto">
          <input id="file-upload" name="file-upload" type="file" data-max-size="3064" required
              (change)="onFileSelected($any($event).currentTarget.files, 'file')"
              accept="application/pdf">
          <p class="textButtonImg">{{contenidoRespuestaFile}}</p>
        </button>
        <button *ngIf="!isEdit" class="buttonImg btn-file w-down-100 h-auto" (click)="downloadFile()"> Ver archivo
            <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-87.png " height="15px" width="auto">
            <p class="textButtonImg">{{productoTemp.pathImagenInformacionNutricional}}</p>
        </button>
      </div>
    </div>

    <div class="lineDashed d-flex flex-column flex-xl-row">
      <div class="alignTd w-down-100 d-flex align-items-center">
        <div class="TextosBlueLeft ml-lg-down-0">
          6. Unidad de medida del producto: <span *ngIf="isEdit" style="color:red;"> *</span>
        </div>
      </div>
      <div class="flex-grow-1">
        <mat-selection-list [multiple]="false" formControlName="unidad">
          <mat-list-option class="listOption w-down-50" *ngFor="let element of unidadMedidaProductoList"
              [value]="element.id" [disabled]="!isEdit">
              {{element.descripcion}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

  </div>

    <div fxLayout="row wrap" style="margin-top: 1%;">
        <div class="d-flex" style="float: left;">
            <div class="d-flex align-items-center" style="float: left; background-color: #E23465; padding: 10px 8px 10px 10px;">
                <div class="NumeroPendiente">
                    2
                </div>
            </div>
            <div
                style="display: inline-block; background-color: #E23465; padding: 12px; color: #ffffff; padding-left: 0px;">
                Aporte nutricional y de energía por 100g netos
            </div>
            <div class="FinalRedondo h-auto"></div>
        </div>
    </div>
    <table>
        <ng-container>
            <tr>
                <td>
                    <div style="margin-top: 1%; margin-left: 2%; margin-bottom: 0%;">7. Aporte nutricional y de
                        energía por
                        100g netos: </div>
                </td>
            </tr>
        </ng-container>
    </table>
    <br>
    <div class="w-down-100 ml-lg-down-0" style="width: 85%; margin-left: 3%">
        <div class="titleTableBlue"> Aporte nutricional y de energía para una porción de 100g de
            "{{productForm.get('NombreProducto').value}}"
        </div>
        <div class="container maxWidth">
            <div class="row2 flex-nowrap flex-column flex-xl-row gap-10-px">
                <div class="flex-grow-1">
                    <div class="row mx-0">
                        <div class="col4 mini-box margen1" style="margin-left: 0px !important;">
                            <div class="SizeDialog2">
                                <mat-card-header class="TituloDialog4">
                                    <ng-container>
                                        <div mat-dialog-actions class="tituloneto">
                                            <tr class="CenterButton">
                                                <td>
                                                    Equivalencias
                                                </td>
                                            </tr>
                                        </div>
                                    </ng-container>
                                </mat-card-header>
                                <mat-card-content class="TituloDialog5">
                                    <div>
                                        <div class="SizeDialog">
                                            <div>
                                                <mat-card-content class="text-center">
                                                    <mat-dialog-content class="mat-typography">
                                                        <table mat-table [dataSource]="equivalencia" class="left-radius"
                                                            matSort>
                                                            <ng-container matColumnDef="nombre">
                                                                <td mat-cell *matCellDef="let element"
                                                                    class="colorTextTable">
                                                                    {{element.nombre}} <span
                                                                        *ngIf="isEdit && element.required"
                                                                        style="color:red;"> *</span>
                                                                </td>
                                                            </ng-container>
                                                            <ng-container matColumnDef="valor">
                                                                <td mat-cell *matCellDef="let element">
                                                                    <input class="tablaForm inputTable"
                                                                        (change)="onChangeEquivalencia(element.formName)"
                                                                        [formControlName]="element.formName"
                                                                        type="number" min="0" name="cantidad"
                                                                        (keydown)="onKeyNumber($event)"
                                                                        [readonly]="!isEdit">
                                                                    <mat-error class="error-message errorM"
                                                                        *ngIf="productForm.get(element.formName).invalid && alertOpened">
                                                                        <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-18.png"
                                                                            alt="" height="10px" width="auto">
                                                                        Complete este campo
                                                                    </mat-error>
                                                                </td>
                                                            </ng-container>
                                                            <tr mat-row *matRowDef=" let myRowData; columns:
                                                                        columnNames; ">
                                                            </tr>
                                                        </table>
                                                    </mat-dialog-content>
                                                </mat-card-content>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </div>
                        </div>
                    </div>
                    <div class=" row mx-0">
                        <div class="col4 mini-box margen1" style="margin-left: 0px !important;">
                            <div class="SizeDialog2">
                                <mat-card-header class="TituloDialog4">
                                    <ng-container>
                                        <div mat-dialog-actions class="tituloneto">
                                            <tr class="CenterButton">
                                                <td>
                                                    Energía
                                                </td>
                                            </tr>
                                        </div>
                                    </ng-container>
                                </mat-card-header>
                                <mat-card-content class="TituloDialog5">
                                    <div>
                                        <div class="SizeDialog">
                                            <div>
                                                <mat-card-content class="text-center">
                                                    <mat-dialog-content class="mat-typography">
                                                        <table mat-table [dataSource]="energia" class="left-radius"
                                                            matSort>
                                                            <ng-container matColumnDef="nombre">
                                                                <td mat-cell *matCellDef="let element"
                                                                    class="colorTextTable alignElementEnergia">
                                                                    {{element.nombre}} <span
                                                                        *ngIf="isEdit && element.required"
                                                                        style="color:red;"> *</span>
                                                                </td>
                                                            </ng-container>
                                                            <ng-container matColumnDef="valor">
                                                                <td mat-cell *matCellDef="let element">
                                                                    <input class="tablaForm inputTable"
                                                                        [formControlName]="element.formName"
                                                                        type="number" min="0" name="cantidad"
                                                                        (keydown)="onKeyNumber($event)"
                                                                        [readonly]="!isEdit">
                                                                    <mat-error class="error-message errorM"
                                                                        *ngIf="productForm.get(element.formName).invalid && alertOpened">
                                                                        <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-18.png"
                                                                            alt="" height="10px" width="auto">
                                                                        Complete este campo
                                                                    </mat-error>
                                                                </td>
                                                            </ng-container>
                                                            <tr mat-row
                                                                *matRowDef="let myRowData; columns: columnNames; ">
                                                            </tr>
                                                        </table>
                                                    </mat-dialog-content>
                                                </mat-card-content>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1 big-box">
                    <div class="SizeDialog2">
                        <mat-card-header class="TituloDialog4">
                            <ng-container>
                                <div mat-dialog-actions class="tituloneto">
                                    <tr class="CenterButton">
                                        <td>
                                            Macronutrientes
                                        </td>
                                    </tr>
                                </div>
                            </ng-container>
                        </mat-card-header>
                        <mat-card-content class="TituloDialog5">
                            <div>
                                <div class="SizeDialog">
                                    <div>
                                        <mat-card-content class="text-center">
                                            <mat-dialog-content class="mat-typography">
                                                <table mat-table [dataSource]="macronutrientes" class="left-radius"
                                                    matSort>
                                                    <ng-container matColumnDef="nombre">
                                                        <td mat-cell *matCellDef="let element"
                                                            class="colorTextTable alignElementMacronutriente">
                                                            {{element.nombre}} <span *ngIf="isEdit && element.required"
                                                                style="color:red;"> *</span>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="valor">
                                                        <td mat-cell *matCellDef="let element">
                                                            <input *ngIf="!element.decimal" class="tablaForm inputTable" type="number"
                                                                [formControlName]="element.formName" min="0"
                                                                name="cantidad" (keydown)="onKeyNumber($event)"
                                                                [readonly]="!isEdit">
                                                            <input *ngIf="element.decimal" class="tablaForm inputTable"
                                                                type="number" [formControlName]="element.formName"
                                                                min="0" step="0.01" value="0.00" name="cantidad"
                                                                (keypress)="decimalFilter($event)" [readonly]="!isEdit">
                                                            <mat-error class="error-message errorM"
                                                                *ngIf="productForm.get(element.formName).invalid && alertOpened">
                                                                <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-18.png"
                                                                    alt="" height="10px" width="auto">
                                                                Complete este campo
                                                            </mat-error>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-row *matRowDef="let myRowData; columns: columnNames; ">
                                                    </tr>
                                                </table>
                                            </mat-dialog-content>
                                        </mat-card-content>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </div>
                <div class="flex-grow-1 big-box" style="margin-right: 0px !important;">
                    <div class="SizeDialog2">
                        <mat-card-header class="TituloDialog4">
                            <ng-container>
                                <div mat-dialog-actions class="tituloneto">
                                    <tr class="CenterButton">
                                        <td>
                                            Micronutrientes
                                        </td>
                                    </tr>
                                </div>
                            </ng-container>
                        </mat-card-header>
                        <mat-card-content class="TituloDialog5">
                            <div>
                                <div class="SizeDialog">
                                    <div>
                                        <mat-card-content class="text-center">
                                            <mat-dialog-content class="mat-typography">
                                                <table mat-table [dataSource]="micronutrientes" class="left-radius"
                                                    matSort>
                                                    <ng-container matColumnDef="nombre">
                                                        <td mat-cell *matCellDef="let element" class="colorTextTable">
                                                            {{element.nombre}} <span *ngIf="isEdit && element.required"
                                                                style="color:red;"> *</span>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="valor">
                                                        <td mat-cell *matCellDef="let element">
                                                            <input *ngIf="!element.decimal" class="tablaForm inputTable"
                                                                type="number" [formControlName]="element.formName"
                                                                min="0" name="cantidad" (keydown)="onKeyNumber($event)"
                                                                [readonly]="!isEdit">
                                                            <input *ngIf="element.decimal" class="tablaForm inputTable"
                                                                type="number" [formControlName]="element.formName"
                                                                min="0" step="0.01" value="0.00" name="cantidad"
                                                                (keypress)="decimalFilter($event)" [readonly]="!isEdit">
                                                            <mat-error class="error-message errorM"
                                                                *ngIf="productForm.get(element.formName).invalid && alertOpened">
                                                                <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-18.png"
                                                                    alt="" height="10px" width="auto">
                                                                Complete este campo
                                                            </mat-error>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-row *matRowDef="let myRowData; columns: columnNames; ">
                                                    </tr>
                                                </table>
                                            </mat-dialog-content>
                                        </mat-card-content>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="allowEdit && !isEdit">
    <app-aprobacion-productos></app-aprobacion-productos>
</div>
