<div class="col-12 mt-4">
    <div class="row">
        <div style="float: left;">
            <div style="float: left; background-color: #005ACA
; padding: 10px;">
                <div style="height: 24px; width: 24px; background-color: #ffffff; border-radius: 50%; 
            text-align: center; color: #005ACA
; padding-top: 3px;">
                    {{ stringChapter ? stringChapter : numberChapter }}
                </div>
            </div>
            <div style="display: inline-block; background-color: #005ACA
; height: 44px; padding: 13px 0px 7px 0px; color: #ffffff; margin-left: -1%;">
                {{ titleChapter }}
            </div>
            <div style="background-color: #005ACA
; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
            margin-left: -26px;float: right;"></div>
        </div>
    </div>
</div>