<div *ngIf="Orientacion == 'V'">
	<div class="costo-total">
		<div class="text-center titulo">
			{{Titulo}}
		</div>
		<div class="text-center valor">
			{{TotalGeneral==null?'Automatico': TotalGeneral|currency:'$':'symbol':'1.0-2'}}
		</div>
	</div>
</div>
<div *ngIf="Orientacion == 'H'">
	<div class="costo-total-v row">
		<div class="text-center titulo col">
			{{Titulo}}
		</div>
		<div class="text-center valor col d-flex align-items-center">
			{{TotalGeneral==null?'Automatico': TotalGeneral|currency:'$':'symbol':'1.0-2'}}
		</div>
	</div>
</div>