@import '/src/assets/styles/variable.scss';
*{
    font-size: $base-fontSize!important;
  }
::ng-deep.mat-expansion-panel-header#mat-expansion-panel-header-1:first-child:before {
    content: "Detalles en 'Diagnóstico \A de infraestructura', sección 2";
    position: absolute;
    right: 3px;
   $gov-white-space: pre;
    background-color: $base-azulClaroPAE;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: $base-azulPAE;
    font-size: 10px;
    text-align: center;
    min-width: 160px;
    max-width: 160px;
    font-weight: 700;
}

::ng-deep.mat-expansion-panel-header#mat-expansion-panel-header-2:first-child:before {
    content: "Detalles en 'Diagnóstico \A de infraestructura', sección 1";
    position: absolute;
    right: 3px;
   $gov-white-space: pre;
    background-color: $base-azulClaroPAE;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: $base-azulPAE;
    font-size: 10px;
    text-align: center;
    min-width: 160px;
    max-width: 160px;
    font-weight: 700;
}

::ng-deep.mat-expansion-panel-header#mat-expansion-panel-header-3:first-child:before {
    content: "Detalles en 'Acceso'";
    position: absolute;
    right: 3px;
   $gov-white-space: pre;
    background-color: $base-azulClaroPAE;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: $base-azulPAE;
    font-size: 10px;
    text-align: center;
    min-width: 160px;
    max-width: 160px;
    font-weight: 700;
}

::ng-deep.mat-expansion-panel-header#mat-expansion-panel-header-4:first-child:before {
    content: "Detalles en 'Diagnóstico \A de infraestructura', sección 3";
    position: absolute;
    right: 3px;
   $gov-white-space: pre;
    background-color: $base-azulClaroPAE;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: $base-azulPAE;
    font-size: 10px;
    text-align: center;
    min-width: 160px;
    max-width: 160px;
    font-weight: 700;
}

::ng-deep.mat-expansion-panel-header#mat-expansion-panel-header-5:first-child:before {
    content: "Detalles en 'Diagnóstico \A de infraestructura', sección 4";
    position: absolute;
    right: 3px;
   $gov-white-space: pre;
    background-color: $base-azulClaroPAE;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: $base-azulPAE;
    font-size: 10px;
    text-align: center;
    min-width: 160px;
    max-width: 160px;
    font-weight: 700;
}

::ng-deep.mat-expansion-panel-header#mat-expansion-panel-header-6 .mat-expansion-panel-header-description td:first-child {
    padding-left: 35px;
}

.LetraSize {
    font-size: 14px;
}

.LineaTabla {
    border-right: dotted 1px $base-azulPAE !important;
}

.LineaTabla2 {
    border-right: $base-borderStyle 1px $base-azulPAE !important;
}

.LineaTablaArea {
    border-right: dotted 1px $base-azulPAE !important;
    margin-left: 4px;
}

.NumeroDimension {
    height: 24px;
    width: 24px;
    background-color: $base-azulClaroPAE;
    border-radius: 50%;
    text-align: center;
    color: $base-azulPAE;
    font-weight: 500;
    padding: 5px 8px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.NumeroDimension2 {
    visibility: hidden;
    height: 24px;
    width: 24px;
    background-color: $base-azulClaroPAE;
    border-radius: 50%;
    text-align: center;
    color: $base-azulPAE;
    font-weight: 500;
    padding: 5px 8px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.AcomodarAll {
    display: flex;
    align-items: center;
}

.mat-expansion-panel-header-description {
    display: flex;
    align-items: center;
}

::ng-deep.px-md-5 {
    padding-right: 0 !important;
}

.LineaSeparadora {
    color: $base-azulPAE;
}

.OcultarConEspacio {
    visibility: hidden !important;
}

mat-card {
    box-shadow: none !important;
    margin: 10px 2px;
}

.LeftUpCorner {
    border-radius: $base-borderRadius 1px 1px 1px !important;
    border: $base-azulPAE 1px $base-borderStyle;
}

.Bordes {
    border: $base-azulPAE 1px dotted !important;
    border-style: hidden hidden dotted hidden !important;
}

.Flechita {
    float: right;
    color: $base-azulPAE;
    border-right: $base-azulPAE 1px $base-borderStyle !important;
}

.alignRight {
    float: right;
}

.alignLeft {
    float: left;
}

.espacioItem {
    width: 100%;
}

.espacioDimension {
    min-width: 250px;
    min-height: 95px;
}

.CenterTitle {
    display: flex;
    align-items: center;
    padding-left: 2%;
    margin-left: 6px;
    font-weight: 600;
}

.centrado {
    display: flex;
    align-items: center;
    margin: 1px 20px 1px 5px;
}

.iconLargo {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: $base-azulClaroPAE;
}

mat-icon {
    color: $base-azulClaroPAE;
}

.LetraAzul {
    color: $base-azulPAE;
}

.LetraBlanca {
    color: $gov-white;
}

/* th, td {
    border: 1px $base-azulPAE;
    border-style: hidden hidden dotted hidden;
    width: 100%!important;
  } */
.LeftAll {
    text-align: left;
    padding-right: $base-borderRadius;
}

.CenterAll {
    text-align: center;
}

.RightAll {
    text-align: right;
}

.NoPadding {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding: 0%;
}

.redondeado {
    border-radius: 50px 1px 1px 50px $base-azulPAE;
    border: $base-azulPAE dotted 1px;
}

.ResumenFinal {
    background-color: $base-azulPAE;
    color: $gov-white;
    text-align: center;
    padding: 10px;

}

.TitulosPrincipal {
    background-color: $base-azulPAE;
    color: $gov-white;
    width: 40%;
    right: 0px;
    text-align: center;

}

.TitulosTabla2 {
    background-color: $base-azulPAE !important;
    color: $gov-white !important;
    border-radius: $base-borderRadius $base-borderRadius 0 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.TitulosTablaOculto {
    background-color: $gov-white !important;
    color: $gov-white !important;
    border: $gov-white !important;
}

.TitulosTabla {
    background-color: $base-azulClaroPAE;
}

.TitulosTabla:hover {
    background-color: $base-azulClaroPAE !important;
}

.titletable {
    float: none !important;
    background-color: $base-azulPAE !important;
    color: $gov-white !important;
    text-align: center;
}

.NoneAll {
    margin: 0 !important;
}

/* .mat-expansion-panel-body{
    padding: 0px!important;
    margin: 0%;
    
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
} */
::ng-deep.mat-expansion-panel-body {
    padding: 0% 0.1% !important;
    border-radius: none !important;
}

mat-expansion {
    box-shadow: none !important;
}

mat-expansion-panel {
    margin: 0px !important;
    box-shadow: none !important;
    border-radius: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    min-height: 90px;

}

.mat-accordion>.mat-expansion-panel-spacing:last-child,
.mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-bottom: 0;
    border-radius: $base-borderRadius 0 0 0;
}

mat-expansion-panel:last-child {
    background-color: $base-azulClaroPAE !important;
    color: $gov-white !important;
    font-weight: 800 !important;
    border-radius: $base-borderRadius;
    padding-left: 10px;
}

mat-expansion-panel-header {
    border: 1px $base-borderStyle $base-azulPAE !important;
    border-style: hidden hidden dotted hidden;
    padding: 0px;
    min-height: 90px;
}

/* ::ng-deep.mat-expansion-panel-header[aria-disabled=true] {
    color: $base-azulPAE !important;
    background-color: $base-azulClaroPAE !important;
} */

::ng-deep.mat-expansion-indicator {
    display: none;
}

.paddingArea {
    padding-left: 40px;
}

.HeaderItems {
    background-color: $base-azulClaroPAE !important;
}

.HeaderItems:hover {
    background-color: $base-azulClaroPAE !important;
}

.panelHeaderEspacio {
    padding-right: 0%;
    padding-left: 0%;

}

.rectangulo {
    background-color: blue;
    width: 60px;
    height: 20px;
    border-radius: 20%;
}

.circulo {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    /*     margin: auto;
    display: block; */
}

.DisplayNone {
    display: none;
}

.espacioColumna {
    width: 100%;
}

.tablaform2 {

    color: $base-color;
    text-align: left;
    font-size: 17px;
    width: 0%;
    float: left;
}
.px-md-5 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.bordeAtras {
    text-align: center !important;
    border: 1px solid $base-azulPAE;
    border-radius: 13px;
   padding: 10px;
    margin-right: 20px;
  }
  .bordeAtras2{
    text-align: center !important;
   padding: 5px;
   color: $base-azulPAE;
  
  }
//titulo actualizado
.LineaAzul {
    border-top: $base-azulPAE $base-borderStyle 1px;
  }
  
  .row {
    margin: 0 -10px !important;
  }
  
  tp-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gov-white;
    padding-top: 0; //padding-top: 150px;
    //margin-left:   -175px;
  }
  
  .UbicaFlecha {
    position: fixed;
    bottom: 20px;
    left: 170px;
    width: 50px;
    height: 50px;
    z-index: 100000;
  }
  
  .UbicaFlecha2 {
    position: fixed;
    bottom: 20px;
    left: 70px;
    width: 50px;
    height: 50px;
    z-index: 100000;
  }
  
  .OcultarAll {
    img {
      float: right;
    }
  
  }
  
  .mat-icon {
    color: $base-azulPAE;
    font-size: 50px;
  }
  
  .tp-containerppal {
    //position: absolute;
    top: 0px;
    bottom: 0;
    left: 14%;
    right: 0;
    background:$gov-white;
    padding-top: 150px;
    // padding-left: 40px;
    visibility: visible !important;
  
    //margin-left:   -175px;
  }
  
  .title-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background:$gov-white;
    padding-top: 150px;
  
  }
  
  .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width: 100px;
  }
  
  .contenedorsidenav {
    padding-top: 80px;
    font-size: 12px;
    box-shadow: 4px -20px 16px 5px $gov-gray !important;
    overflow: auto;
    visibility: visible;
  }
  
  .menuvar-container {
    //padding: 0 15px 0 40px;
    font-size: 12px;
    //  padding: 11px 15px;
    line-height: 18px;
    padding-top: 80px;
    //width: 270px;
    box-shadow: 4px -20px 16px 5px $gov-gray !important;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 60px;
    height: 100%;
    visibility: visible;
  }
  
  
  .example-sidenav {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    line-height: 18px;
    visibility: visible !important;
  }
  
  
  .menuvar-containerppal {
    font-size: 12px;
    padding-top: 80px;
  }
  
  // .mat-sidenav-closed {
  //   transform: translate3d(0, 0, 0) !important;
  //   visibility: visible !important;
  //   min-width: 64px !important;
  //   width: 64px !important;
  
  //   mat-sidenav-content {
  //       margin-left: 64px !important;
  //   }
  // }
  
  
  
  .material-symbols-outlined {
    font-size: 65px;
    right: 11px;
    bottom: 11px;
  
  }
  
  
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  :host>mat-sidenav-container.mat-sidenav-container {
    flex: 1;
  }
  
  /*
   sidenav mini fix
   72px => 40px (button) + 16px(padding-left) + 16px(padding-right)
  */
  .mat-drawer {
    visibility: visible !important;
    transform: translate3d(calc(125px - 120%), 0, 0);
  
  
  }
  
  .mat-drawer-content {
    margin-left: 0;
  }
  
  /* mat nav list items fix */
  .item {
    flex: 1;
    text-align: left
  }
  
  .mat-drawer.mat-drawer-opened .item {
    text-align: left;
  }
  
  .mat-drawer-container {
    background-color:$gov-white;
    color: rgba(0, 0, 0, 0.87);
  }


  //filtros
.Redondeado {
    border: 1px solid #005aca;
    border-radius: 20px !important;
    padding: 0px !important;
    width: 100%;
    display: inline-table;
  }
  
  
  .EspacioField {
    padding-left: 10px;
    padding-right: 10px;
  }
  .EspacioField2 {
    padding-left: 0px; 
    padding-right: 0px;
  }
  .lineaAzulX {
    border-left: 1px solid $base-azulPAE;
  }
  .alinearIcon {
    padding: auto;
  
  }