/**
 * Hoja de estilos para aplicar a los archivos de origen del componente usa variable.scss generica
 *
 *
 */


@import '/src/assets/styles/variable.scss';

// ewsstilos de la grilla inicial
// estilo para el titulo
#bor-rad2val {
  display: inline-block;
  background-color:red !important;
  color:white !important;
  border: 2px solid blue;
  width:300px;
  height:150px;
  padding: 25px 15px 11px 11px;
  border-radius: 30px 30px 0px 0px;
}

*{
  font-size: $base-fontSize!important;
}
::ng-deep.mat-checkbox-inner-container {
  display: inline-block;
  height: 25px !important;
  line-height: 0;
  margin: auto;
  margin-right: 8px;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 25px !important;
  flex-shrink: 0;
}

::ng-deep .mat-checkbox-disabled  {
  opacity: 0.2 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #00A9AB;
}

.mat-select-value{
  color: $base-azulPAE;
}

.LeftUpCorner{
  border-radius: 20px 20px 0 0;
}

.LeftUpCorner2{
  border-radius: 0 20px 0 0;
}

.card {
  border: none;
}

.table-responsive {
  padding-left: 30px;
}

table {
  width: 100%;
  border-collapse: separate;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  color: $base-color;
}

// th.mat-header-cell:first-child, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
// border-top-left-radius: 20px !important;
// }

th.mat-header-cell.cdk-header-cell.cdk-column-select.mat-column-select.ng-star-inserted {
  border-top-left-radius: 20px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 24px;
  border-right: 1px solid;
}

td.mat-cell {
  padding: 16px 0 16px 0;
  border-bottom: 1px dotted $base-azulPAE;
}

table thead {
  background-color: $header_table  !important;
  color: $base-color;
  border: 1px solid;
}

table thead th {
  border-top: 1px solid $base-azulPAE;
  border-right: 1px solid $base-azulPAE;
  padding: 20px;
}

table thead th:first-child {
  border-left: 1px solid $base-azulPAE;
  border-top-left-radius: 20px !important;
}

table td:first-child {
  border-left: 1px solid $base-azulPAE;
}

table.left-radius thead th:first-child {
  border-top-left-radius: 20px !important;
  border-left: 1px solid $base-azulPAE;
}

table.right-radius thead th:last-child {
  border-top-right-radius: 20px;
  border-left: 1px solid $base-azulPAE;
}

table tbody {
  color: $base-color;
}

table tbody td {
  border-bottom: 1px dashed $base-color  !important;
}

table tbody tr td:first-child {
  border-left: 1px solid $base-color;
}

table tbody tr td:last-child {
  border-right: 1px solid $base-color;
}

table tbody tr:last-child td {
  border-bottom: 1px solid $base-color;
  border-bottom-style: solid !important;
}

td.mat-cell:first-of-type {
  padding-left: 0 px !important
}

.titletable {
  float: right;
  background-color: $base-color  !important;
  color: #fff !important;
  width: fit-content;
  padding: 4px 75px !important;
  margin-bottom: -1px !important;
  border-radius: 12px 12px 0px 0px !important;
}

// .mat-table::ng-deep {
//   border: 1px solid $base-azulPAE;
// }

th.mat-header-cell {
  text-align: center !important;
  background-color: #E2ECFD !important;
  //color: #fff!important;
  width: fit-content;
  padding: 4px 75px !important;
  margin-bottom: -1px !important;
  border: 1px solid $base-azulPAE;
  padding: 20px !important;
}

.red {
  background-color: red;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.green {
  background-color: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.yellow {
  background-color: yellow;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.mat-row:hover .mat-cell {
  background-color: $base-color;
  color: #ffffff;
}

.mat-column-select {
  overflow: initial;
}

.ButtonBlue {
  border: 1px $base-color solid;
  border-radius: 20px;
  background-color: $base-color;
  color: #ffffff !important;
}

.BordeRedondoAgregar {
  border-radius: 20px;
  border: $base-color solid 1px;
  background-color: $base-color;
  color: #fff;
}

.CriteriosP {
  padding: 10px;
  background-color: #47b9a4;
  padding: 12px 24px 12px 12px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  border-radius: 0 30px 30px 0;
}


.course-header {
  &.Angular {
    background-color: #fc4b6c!important;
  }

  &.Web {
    background-color: #1e88e5!important;
  }

  &.Design {
    background-color: #26c6da!important;
  }

  &.Android {
    background-color: #ffb22b!important;
  }


}
