@import '/src/assets/styles/variable.scss'
@import '../../../../../../../assets/sass/theme/table-sigepae'

#secop1
    border: solid 1px $base-azulPAE
    border-radius: 15px 0px 0px 15px
    color: $base-azulPAE

#secop2
    border: solid 1px $base-azulPAE
    border-left: none
    border-right: none
    color: $base-azulPAE

#tvec
    border: solid 1px $base-azulPAE
    border-radius: 0px 15px 15px 0px
    color: $base-azulPAE

#inputPorcentAnti
    width: 5% !important

.width-valores-total-fuentes
    max-width: 200px
    width: 200px

.alerta-valor-total-fuentes
    max-width: 390px
