<div class="row">
  <div class="col-12 my-4 text-center">
      <span style="color: #f54a62;">Haga <strong style="color: #f54a62 !important;">click</strong> sobre los círculos de colores para ver las sedes que componen cada porcentaje.</span>
  </div>
</div>
<br>
<br>
<div fxLayout="row wrap">

  <!-- ----------------------MAEM--------------------------------------- -->
  <div class="d-flex">
    <div class="d-flex align-items-center" style="float: left; background-color: #E43466; padding: 14px;">
      <div style="height: 20px; width: 20px; background-color: #E43466;
      border-radius: 50%; text-align: center; color: #E43466; font-weight: 500; padding-top: 0px;">
        <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-199.png " height="20px" width="auto">
      </div>
    </div>
    <div class="ml-minus-1-px" style="display: inline-block; background-color: #E43466; padding: 14px; color: #ffffff; z-index: 1000;">
      <strong>MAEM:</strong> Modelo de Alimentación Escolar Mayoritario
    </div>
    <div class="h-down-auto" style="background-color: #E43466; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
    margin-left: -1px;float: right; padding: 24px;"></div>
  </div>

</div>
<br>
<br>
<app-matriz-riesgo-maem></app-matriz-riesgo-maem>
<!-- --------------------FIN MAEM--------------------------------------- -->

<!-- ----------------------MAER--------------------------------------- -->
<div fxLayout="row wrap">

  <div class="d-flex">
    <div class="d-flex align-items-center" style="float: left; background-color: #E43466; padding: 14px;">
      <div style="height: 20px; width: 20px; background-color: #E43466;
      border-radius: 50%; text-align: center; color: #E43466; font-weight: 500; padding-top: 0px;">
        <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-200.png " height="15px" width="auto">
      </div>
    </div>
    <div class="ml-minus-1-px" style="display: inline-block; background-color: #E43466; padding: 14px; color: #ffffff; z-index: 1000;">
      <strong>MAER:</strong> Modelo de Alimentación Escolar Rural
    </div>
    <div class="h-down-auto" style="background-color: #E43466; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
    margin-left: -1px;float: right; padding: 24px;"></div>
  </div>

</div>
<br>
<br>
<app-matriz-riesgo-maer></app-matriz-riesgo-maer>

<!-- --------------------FIN MAER--------------------------------------- -->
<div fxLayout="row wrap">

  <!-- ----------------------MAIP--------------------------------------- -->
  <div class="d-flex">
    <div class="d-flex align-items-center" style="float: left; background-color: #E43466; padding: 14px;">
      <div style="height: 20px; width: 20px; background-color: #E43466;
      border-radius: 50%; text-align: center; color: #E43466; font-weight: 500; padding-top: 0px;">
        <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-201.png " height="15px" width="auto">
      </div>
    </div>
    <div class="h-down-auto ml-minus-1-px" style="display: inline-block; background-color: #E43466; padding: 14px; color: #ffffff; z-index: 1000;">

      <strong>PAEPI:</strong>  PAE para Pueblos Indígenas

    </div>
    <div class="h-down-auto" style="background-color: #E43466; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
    margin-left: -1px;float: right; padding: 24px;"></div>
  </div>


</div>
<br>
<br>
<app-matriz-riesgo-maip></app-matriz-riesgo-maip>

<!-- --------------------FIN MAIP--------------------------------------- -->
  <!-- ----------------------MAIP--------------------------------------- -->
<!-- <div fxLayout="row wrap">
  <div style="float: left;">
    <div style="float: left; background-color: #E43466; padding: 14px;">
      <div style="height: 20px; width: 20px; background-color: #E43466;
      border-radius: 50%; text-align: center; color: #E43466; font-weight: 500; padding-top: 0px;">
        <img src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-202.png " height="15px" width="auto">
      </div>
    </div>
    <div style="display: inline-block; background-color: #E43466; padding: 14px; color: #ffffff;">
      <strong>PAEC:</strong> Modelo Para Aprendizaje En Casa
    </div>
    <div style="background-color: #E43466; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
    margin-left: -26px;float: right; padding: 24px;"></div>
  </div>

</div>
<br>
<br>
<app-matriz-riesgo-paec></app-matriz-riesgo-paec>
 -->
<!-- --------------------FIN MAIP--------------------------------------- -->
