strong{
    color: #FFF!important;
}
.mesajep{
    color: #ed0057;
    font-size: 20px;
}
.titulo{
    width: 100%;
    text-align: center;
}

* {
    font-family: "Montserrat",sans-serif;
    font-size: 1rem;
    color: #E43466;
  }