
.body
    font-size: 16px !important

.form-label
  width: auto !important
  margin-right: 10px !important

  &.maxWidth-250
    width: 250px !important
    max-width: 250px !important

.textarea
  max-width: 500px !important

.input
  max-width: 500px !important

.date
  max-width: 130px !important

.select
  max-width: 500px !important

.label .labelred
    color: #f54a62 !important
    padding-top: 10px
.title-suma-total
  width: 400px


#input-suma-total
  width: 193px

.warning-container
  max-width: 370px

.labelmsn
  display: inline-block
  white-space: nowrap
  font-size: 1.0em
  padding-top: 10px


.select-container
  display: inline-block
  vertical-align: top
