<style>
  .card {
    border: none;
  }

  .table-responsive {
    padding-left: 30px;
  }

</style>
<div fxLayout="row wrap" *ngIf="EsETC==true">
  <div style="width: 100%; float: right;" class="align-items-center textagregar">
    <div class="text-right">
      <app-creation-action-button 
        label="Agregar diagnóstico"
        [disabled]="!getModulePermission(32,'crear')"
        (onClick)="openDialog('Adicionar',{})">
      </app-creation-action-button>
    </div>
  </div>
</div>
<br><br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource " class="left-radius" matSort>
          <!-- Nombre del documento Column -->
          <ng-container matColumnDef="Nombresita">
            <th class="LeftUpCorner" mat-header-cell *matHeaderCellDef style="padding-left: 0px; "><b>Nombre del documento </b>
            </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 0px; text-align: center; "> {{element.nombre}}
            </td>
          </ng-container>
          <!-- Fecha de actualización Column -->
          <ng-container matColumnDef="Fechasita">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 0px; "><b>Fecha de <br> actualización</b></th>
            <td mat-cell *matCellDef="let element" style="padding-left: 0px; text-align: center; ">
              {{element.fechaActualizacion | date:'dd-MMM-yyyy' | uppercase | withoutDots}} </td>
          </ng-container>
          <!-- Descripción Column -->
          <ng-container matColumnDef="Descripcionsita">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 0px; min-width: 250px; "><b>Descripción </b> </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 0px; text-align: center; ">
              {{element.descripcionDiagnostico}} </td>
          </ng-container>

          <!-- Archivo adjunto Column -->
          <ng-container matColumnDef="Archivosita">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 0px; min-width: 250px; "><b>Archivo adjunto </b></th>
            <td mat-cell *matCellDef="let element" style="padding-left: 0px; text-align: center; color: white; ">
              <!-- {{element.pathDiasnosticoSituacion}}
 -->
              <!-- <mat-card-actions class="text-center">
                <a class="btn-registrar" (click)="downloadFile(element.pathDiasnosticoSituacion)"><img
                    src="../.././../assets/images/download.png"> DESCARGAR</a>
              </mat-card-actions> -->
              <mat-card-actions class="text-center">
                <button class="buttonAr" (click)="downloadFile(element.pathDiasnosticoSituacion)">Archivo adjunto
                  <mat-icon class="espaciobutton " style="color: #005ACA;">check</mat-icon>
                  <mat-icon class="espaciobutton" style="color: #005ACA;">description</mat-icon>
                </button>
              </mat-card-actions>

            </td>
          </ng-container>

          <!-- Acciones Column -->
          <ng-container matColumnDef="Accionsita">
            <th class="LeftUpCorner2" mat-header-cell *matHeaderCellDef style="padding-left: 0px; "> </th>
            <td mat-cell *matCellDef="let element" style="padding-left: 0px; text-align: center; ">
              <a [ngClass]="{'linkdisable':!getModulePermission(32,'editar')}"
                (click)="openDialog( 'Actualizar',element)" class="m-r-10 cursor-pointer ">
                <img src="../../../../../../assets/images/Iconos/edit_blue.png"/>
                </a>

              <a [ngClass]="{'linkdisable':!getModulePermission(32,'eliminar')}"
                (click)="openDialog( 'Eliminar',element)" class="m-r-10 cursor-pointer ">
                <img src="../../../../../../assets/images/Iconos/delete_blue.png"/>
                </a>


            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
          <tr mat-row *matRowDef="let myRowData; columns: displayedColumns; "></tr>
        </table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 50, 100]" showFirstLastButtons>
        </mat-paginator>
        <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
          <mat-progress-spinner color="primary" mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
