<style>
    .card {
      border: none;
    }
  
    .table-responsive {
      padding-left: 30px;
    }
  
  </style>
  
  <!-- 
  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-5"
    style="color: #004884;font-size: 1em !important;box-sizing: border-box;">
    <div class="flex-wrap flex-md-nowrap mt-3">
      <div class="col-xs-12">
        <label class="anio-text" style="float: right;">A&ntilde;o | <strong class="strongheader"> {{currentYear}}
          </strong></label>
        <label class="banner-text">ETC | <strong class="strongheader">{{nombreETC}}</strong></label>
      </div>
      <hr style="margin: 0;">
      <div class="col-xs-12 text-right">
        <label class="last-update-text">Ultima actualizaci&oacute;n <span>
            {{  dateToday | date: "longDate"  }}</span></label>
      </div>
    </div>
    <div class="mt-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <br> -->
  <app-tab-anual-principal></app-tab-anual-principal>
  <br>