<div class="SizeDialog">
  <div class="text-center">
    <img alt="homepage" src="../../assets/images/LogoAlimentos.png" height="35%" width="35%">
  </div>
  <br>
  <br>
  <br>
</div>
<div class="course-app bordeRedondo">
  <div class="example-form" [formGroup]="resetPasswordForm" autocomplete="off" novalidate
    (ngSubmit)="resetPassword(resetPasswordForm.value)">
    <mat-card-header class="TituloDialog">
      <ng-container>
        <div mat-dialog-actions>
          <tr class="CenterButton">
            <td>
              <br>
              <strong class="TextBlueCenter">Cambiar contraseña</strong>
            </td>
          </tr>
        </div>
      </ng-container>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row wrap" class="course-app">
        <div fxFlex.gt-md="100" fxFlex.gt-lg="100" fxFlex="100">
          <div>
            <mat-card-content class="text-center">
              <mat-dialog-content class="mat-typography">
                <table>
                  <ng-container class="bordecontra">
                    <tr>
                      <td class="col-md-4">
                        <div class="TextosBlueLeft"> Contraseña: </div>
                      </td>
                      <td class="col-md-8">
                        <input matInput type="password" id="password" formControlName="password" class="form-control" />
                        <em *ngIf="validateControl('password') && hasError('password', 'required')">
                          <img src="../../../../assets/iconos_PAE/PNG/Iconos_PAE-18.png" alt="" height="10px"> La
                          contraseña es requerida
                        </em>
                        <em *ngIf="validateControl('password') && hasError('password', 'pattern')">
                          <img src="../../../../assets/iconos_PAE/PNG/Iconos_PAE-18.png" alt="" height="10px">
                          La contraseña debe tener al menos 8 carácteres y contener mayúsculas, minúsculas, números y
                          carácteres especiales.
                        </em>|
                      </td>
                    </tr>
                  </ng-container>


                  <ng-container>
                    <tr>
                      <td class="col-md-4">
                        <div class="TextosBlueLeft"> Confirme su contraseña: </div>
                      </td>
                      <td class="col-md-8">
                        <input matInput type="password" id="confirm" formControlName="confirm" class="form-control" />
                        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">
                          <img src="../../../../assets/iconos_PAE/PNG/Iconos_PAE-18.png" alt="" height="10px">
                          La confirmación de la contraseña es requerida</em>
                        <em *ngIf="hasError('confirm', 'mustMatch')">
                          <img src="../../../../assets/iconos_PAE/PNG/Iconos_PAE-18.png" alt="" height="10px">
                          Las contraseñas deben ser iguales
                        </em>
                      </td>
                    </tr>
                  </ng-container>

                </table>

              </mat-dialog-content>
              <table>
                <ng-container>
                  <div>
                    <div class="CenterButton text-center">
                      <div class="AlignRight">
                        <button (click)="resetPassword(resetPasswordForm.value)" [disabled]="!resetPasswordForm.valid"
                          style="font-size:20px ;">Enviar
                        </button>
                      </div>
                      <div>
                        <button (click)="backToLogin()" style="font-size:20px ;">Volver
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </table>
              <br>
            </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card-content>
  </div>
</div><br><br>