

<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card style="margin: 0px 15px; background: ghostwhite;">
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                      <div class="login-register-box error-card text-center">

                    </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>



