.TextCenterBlue {
  color: #337ab7;
  font-size: 1 em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10%;
}

.TitleBlue{
  color: #125188;
  font-size: 1.4em;
  font-weight: 600;
  align-content: 50%;
  
}