<mat-tab-group  [selectedIndex]="selectedTabIndex" style="width: 100%; display: flex;" (selectedIndexChange)="myTabFocusChange($event)">
    <mat-tab >
        <ng-template mat-tab-label>
            <span><b>Diagnósticos <br> (Infraestructura y situacional)</b></span>
        </ng-template>


    </mat-tab>
    <br>
    <mat-tab  label="Acceso" >


    </mat-tab>
    <mat-tab  label="Matriz de riesgos" class="fullScreen" >


    </mat-tab>
    <mat-tab  label="Priorización" >


    </mat-tab>
</mat-tab-group>
