<style>
  .card {
    border: none;
  }

  .table-responsive {
    padding-left: 30px;
  }
</style>
<div class="row">
  <div class="col-12  my-4 text-center">
    <span style="color: #f54a62;">Haga <strong style="color: #f54a62;">click</strong> sobre las barras de colores para
      ver las sedes que componen cada porcentaje.</span>
  </div>
</div>
<!--Caracterizacion de la sede -->
<div class="d-flex flex-auto w-full min-w-80 p-4 lt-xl:w-1/2">
  <div class="d-flex" style="float: left;">
    <div class="d-flex align-items-center" style="float: left; background-color: #E43466; padding: 10px;">
      <div style="height: 24px; width: 24px; background-color: #ffffff;
                border-radius: 50%; text-align: center; color: #E43466; font-weight: 500; padding-top: 3px;font-size:16px;
                ">1
      </div>
    </div>
    <div class="ml-minus-1-px"
      style="display: inline-block; background-color: #E43466; padding: 12px 0px 12px 0px; color: #ffffff;font-size:16px; z-index: 1000;">
      Caracterización de la sede
    </div>
    <div class="h-down-auto" style="background-color: #E43466; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
                  margin-left: -1px;float: right;">
    </div>
  </div>
  <br>
</div>
<br>
<!--tabla Diagnóstico de condiciones operativas-->
<app-caracterizacion-sede></app-caracterizacion-sede>
<!--Concepto higiénico sanirtario-->
<div class="d-flex flex-auto w-full min-w-80 p-4 lt-xl:w-1/2 ">
  <div class="d-flex" style="float: left; ">
    <div class="d-flex align-items-center" style="float: left; background-color: #E43466; padding: 10px;">

      <div style="height: 24px; width: 24px; background-color: #ffffff;
          border-radius: 50%; text-align: center; color: #E43466; font-weight: 500; padding-top: 3px;font-size:16px;
          ">2
      </div>
    </div>
    <div class="ml-minus-1-px"
      style="display: inline-block; background-color: #E43466; padding: 12px 0px 12px 0px; color: #ffffff;font-size:16px; z-index: 1000;">

      Concepto higiénico sanitario
    </div>
    <div class="h-down-auto" style="background-color: #E43466; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
                  margin-left: -1px;float: right;">
    </div>
  </div>
</div>
<br>
<!--tabla diagnostico situcional-->
<app-concepto-higenico-sani></app-concepto-higenico-sani>
<!--Servicios públicos-->
<div class="d-flex flex-auto w-full min-w-80 p-4 lt-xl:w-1/2 ">
  <div class="d-flex" style="float: left; ">
    <div class="d-flex align-items-center" style="float: left; background-color: #E43466; padding: 10px;">

      <div style="height: 24px; width: 24px; background-color: #ffffff;
          border-radius: 50%; text-align: center; color: #E43466; font-weight: 500; padding-top: 3px;font-size:16px;
          ">3
      </div>
    </div>
    <div class="ml-minus-1-px"
      style="display: inline-block; background-color: #E43466; padding: 12px 0px 12px 0px; color: #ffffff;font-size:16px; z-index: 1000;">

      Servicios públicos
    </div>
    <div class="h-down-auto" style="background-color: #E43466; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
                  margin-left: -1px;float: right;">
    </div>
  </div>
</div>
<br>
<app-servicios-publicos></app-servicios-publicos>
<!--Servicios públicos-->
<div class="d-flex flex-auto w-full min-w-80 p-4 lt-xl:w-1/2 ">
  <div class="d-flex" style="float: left; ">
    <div class="d-flex align-items-center" style="float: left; background-color: #E43466; padding: 10px;">

      <div style="height: 24px; width: 24px; background-color: #ffffff;
          border-radius: 50%; text-align: center; color: #E43466; font-weight: 500; padding-top: 3px;font-size:16px;
          ">4
      </div>
    </div>
    <div class="ml-minus-1-px"
      style="display: inline-block; background-color: #E43466; padding: 12px 0px 12px 0px; color: #ffffff;font-size:16px; z-index: 1000;">

      Áreas para la prestación del servicio de alimentación
    </div>
    <div class="h-down-auto" style="background-color: #E43466; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
                  margin-left: -1px;float: right;">
    </div>
  </div>
</div>
<br>
<app-servicios-alimentacion></app-servicios-alimentacion>
<!--Servicios públicos-->
<div class="d-flex flex-auto w-full min-w-80 p-4 lt-xl:w-1/2 ">
  <div class="d-flex" style="float: left; ">
    <div class="d-flex align-items-center" style="float: left; background-color: #E43466; padding: 10px;">

      <div style="height: 24px; width: 24px; background-color: #ffffff;
          border-radius: 50%; text-align: center; color: #E43466; font-weight: 500; padding-top: 3px;font-size:16px;
          ">5
      </div>
    </div>
    <div class="ml-minus-1-px"
      style="display: inline-block; background-color: #E43466; padding: 12px 0px 12px 0px; color: #ffffff;font-size:16px; z-index: 1000;">

      Diagnóstico situacional
    </div>
    <div class="h-down-auto" style="background-color: #E43466; height: 44px; width: 44px; border-radius: 0% 50% 50% 0;
                  margin-left: -1px;float: right;">
    </div>
  </div>
</div>
<br>
<app-diag-resumen-etc></app-diag-resumen-etc>
