<div class="row">
  <div class="col-12">
    <br>
    <div fxLayout="row wrap">
      <div>
        <mat-card>
          <mat-card-content>
            <div fxLayout="row wrap" class="align-items-center acomodarAll">
              <div class="BordeRedondoFiltroAvanzado">
                <div>
                  <div class="text-center">
                    <a class="TextBlue">
                      <img class="sizeIcom" src="../.././../../assets/iconos_PAE/PNG/Iconos_PAE-49.png " height="30px" width="auto">
                    </a>
                  </div>
                </div>
                <div class="FullSize">
                  <div>
                    <input class="buscar" matInput (keyup)="applyFilter($any($event).target.value)"
                      placeholder="Buscar... Parámetro">
                  </div>
                </div>
              </div>
              <div fxFlex.gt-md="15" fxFlex.gt-lg="15" class="BordeRedondoAgregar">
                <div class="text-center">
                  <a class="btn-registrar" (click)="openDialog('Adicionar',{})">
                    <img src="../.././../../../assets/iconos_PAE/PNG/Iconos_PAE-51.png" height="30px">
                    <p class="LetraRegistro">Registrar Parámetro</p>
                  </a>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="alignTable">
        <mat-card>
          <mat-card-content>
            <div class="table-responsive">
              <div style="width: 100%; float: right;">
                <div class="titletable">Parámetros</div>
              </div>
              <table mat-table [dataSource]="dataSource" class="left-radius" matSort>
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (ngModel)="checked" (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      indeterminate="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (ngModel)="checked" (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 0px; justify-content: center;"> Nombre</th>
                  <td mat-cell *matCellDef="let element" style="padding-left: 0px; text-align: center;">
                    {{element.nombre}} </td>
                </ng-container>
                <ng-container matColumnDef="valor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 0px; "> Valor</th>
                  <td mat-cell *matCellDef="let element" style="padding-left: 0px; text-align: center;"> {{element.valor
                    | number}} </td>
                </ng-container>
                <ng-container matColumnDef="unidad">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 0px; "> Unidad</th>
                  <td mat-cell *matCellDef="let element" style="padding-left: 0px; text-align: center;">
                    {{element.unidad}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Acci&oacute;n </th>
                  <td mat-cell *matCellDef="let element" class="action-link">
                    <a (click)="openDialog('Actualizar',element)" class="m-r-10 cursor-pointer">
                      <img src="../../../../../../assets/images/Iconos/edit_blue.png"></a>
                    <a (click)="openDialog('Eliminar',element)" class="m-r-10 cursor-pointer">
                      <img src="../../../../../../assets/images/Iconos/delete_blue.png"></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 50, 100]" showFirstLastButtons>
              </mat-paginator>
              <div *ngIf="isLoading"
                style="display: flex; justify-content: center; align-items: center; background: white;">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>