.no-padding{
  padding: 0 !important;
}

// Padding
.p-xxs{
  padding: 2.5px !important;
}
.p-xs{
  padding: 5px !important;
}
.p-sm{
  padding: 10px !important;
}
.p-md{
  padding: 15px !important;
}
.p-lg{
  padding: 20px !important;
}
.p-xl{
  padding: 25px !important;
}
.p-xxl{
  padding: 35px !important;
}

// Padding top xs - 5px
.pt-xxs{
  padding-top: 2.5px !important;
}
.pt-xs{
  padding-top: 5px;
}
.pt-sm{
  padding-top: 10px;
}
.pt-md{
  padding-top: 15px;
}
.pt-lg{
  padding-top: 20px;
}
.pt-xl{
  padding-top: 25px;
}
.pt-xxl{
  padding-top: 35px;
}

// Padding bottom xs - 5px
.pb-xxs{
  padding-bottom: 2.5px !important;
}
.pb-xs{
  padding-bottom: 5px;
}
.pb-sm{
  padding-bottom: 10px;
}
.pb-md{
  padding-bottom: 15px;
}
.pb-lg{
  padding-bottom: 20px;
}
.pb-xl{
  padding-bottom: 25px;
}
.pb-xxl{
  padding-bottom: 35px;
}


// Padding left xs - 5px
.pl-xxs{
  padding-left: 2.5px;
}
.pl-xs{
  padding-left: 5px;
}
.pl-sm{
  padding-left: 10px;
}
.pl-md{
  padding-left: 15px;
}
.pl-lg{
  padding-left: 20px;
}
.pl-xl{
  padding-left: 25px;
}
.pl-xxl{
  padding-left: 35px;
}


// Padding right xs - 5px
.pr-xxs{
  padding-right: 2.5px;
}
.pr-xs{
  padding-right: 5px;
}
.pr-sm{
  padding-right: 10px;
}
.pr-md{
  padding-right: 15px;
}
.pr-lg{
  padding-right: 20px;
}
.pr-xl{
  padding-right: 25px;
}
.pr-xxl{
  padding-right: 35px;
}
