// @import '/src/assets/styles/variable.scss';
.tab-control {
    border-bottom: 1px solid #3266cc;
    div {
        display: inline-block;
        padding: 8px 25px;
        border: 1px solid #3266cc;
        border-left: none;
        border-bottom: unset;
        text-align: center;
    }
    div:first-child {
        border-left: 1px solid #3266cc;
        border-top-left-radius: 10px;
    }
    div:last-child {
        border-top-right-radius: 10px;
    }
}

.tab-control:not(.inverted) {
    div.active {
        background-color: #f54a62;
    }
    div h3 {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 14px;
        color: $base-azulPAE;
    }
    div.active h3 {
        color: #ffffff;
    }
}

.tab-control.inverted {
    div.active {
        background-color: #ffffff;
    }
    div h3 {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 14px;
        color: $base-azulPAE;
    }
    div.active h3 {
        color: #f54a62;
    }
}

.tab-control-secondary {
    width: 100%;
    .tab-item {
        float: left;
        padding-left: 0.5px;
        padding-right: 0.5px;
        border: none;
        border-bottom: 1px solid $base-color;
        div {
            width: 100%;
            background-color: rgb(225, 239, 252);
            color: $base-color;
            text-align: center;
            padding: 8px 15px;
            font-weight: 600;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }
    .tab-item:first-child {
        padding-left: 0;
    }
    .tab-item:last-child {
        padding-right: 0;
    }
    .tab-item.active {
        border-bottom: none;
        padding-left: 0;
        padding-right: 0;
        div {
            background-color: #ffffff;
            color: $base-colorred;
            border: 1px solid $base-color;
            border-bottom: none;
        }
    }
    .tab-item.nothing {
        background-color: #ffffff;
        div {
            background-color: #ffffff;
            color: #ffffff;
        }
    }
    .tab-item:not(.active):hover {
        cursor: pointer;
    }
    .tab-item-blank {
        border-color: $base-color;
        border-bottom: 1px solid $base-color;
    }
}

.tab-control-tertiary {
    display: flex;
    .tab-item {
        background-color: #ffffff;
        color: $base-color;
        border: 1px solid $base-color;
        border-left: none;
        display: flex;
        padding: 10px 5px;
        font-size: $base-fontsize;
        justify-content: center;
        cursor: pointer;
    }
    .tab-item.active {
        background-color: $base-color;
        color: #ffffff;
        cursor: default;
    }
    .disabled {
        label {
            color:rgba(138, 135, 135, 0.58);
        }
    }
}

.tab-control-state {
    display: flex;
    .tab-item {
        border: 1px solid $base-color;
        border-top: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        padding: 5px;
        color: $base-color;
        justify-content: center;
        font-size: $base-fontsize;
        margin: 0 40px;
    }
}


.tab-control-3{
    .tab-control-header{
        width: 100%;
        display: inline-flex;
        .tab-item{
            padding: 2.5px;
            text-align: center;
            border-bottom: 1px solid $base-color;
            p{
                color: $base-color;
                font-size: 13px;
                margin: 0;
            }
        }
        .tab-item.selected{
            border: 1px solid $base-color;
            border-bottom: none;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .tab-control-body{
        border-left: 1px solid $base-color;
        border-right: 1px solid $base-color;
        border-bottom: 1px solid $base-color;
    }
    .tab-control-body:not(.nb-r){
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.mat-tab-group {
    .mat-tab-header {
        .mat-tab-label-container {
            .mat-tab-labels {
                #mat-tab-label-0-1 {
                    background-color: #ffffff ;
                }
            }
        }
    }
}
