<div>
  <table class="table-default table-border-dashed-vertical">
    <thead>
      <tr class="text-center">
        <th class="empty"></th>
        <th *ngFor="let column of dataRowspanMacro; index as i" rowspan="2"
          [class]="i === 0 ? 'border-top-left-radius-md' : ''">
          {{column}}
        </th>
        <th class="p-xxs noborder-bottom" [class]="dataRowspanMacro.length == 0 ? 'border-top-left-radius-md' : ''"
          colspan="100">Macronutrientes</th>
      </tr>
      <tr class="text-center">
        <th class="empty border-bottom"></th>
        <th *ngFor="let column of dataColumnsMacro; index as i" class="noBorder-radius"
          [class]="i === 0 ? 'border-left' : ''">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="150px">
          Aporte estimado
        </td>
        <td width="150px" class="text-center" *ngFor="let item of dataMacroNutrientes">
          <label *ngIf="itemsDisabled">
            {{item.aporteMinimo}}
          </label>
          <input type="text" style="width: 50px; display: inline-block;" *ngIf="!itemsDisabled"
            class="control-md text-center" [(ngModel)]="item.aporteMinimo" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="changeModelMinutaNutriente('aporteMinimo', $event, item)">
        </td>
      </tr>
      <tr>
        <td>
          Recomendaci&oacute;n diaria
        </td>
        <td class="text-center" *ngFor="let item of dataMacroNutrientes">
          <label *ngIf="itemsDisabled">
            {{item.aporteRecomendadoMin}}
          </label>
          <input type="text" style="width: 50px; display: inline-block;" *ngIf="!itemsDisabled"
            class="control-md text-center" [(ngModel)]="item.aporteRecomendadoMin" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="changeModelMinutaNutriente('aporteRecomendadoMin', $event, item)">
        </td>
      </tr>
      <tr>
        <td>
          Regla de adecuaci&oacute;n
        </td>
        <td class="text-center" *ngFor="let item of dataMacroNutrientes">
          <label *ngIf="itemsDisabled">Mínimo {{item.porcentajeAdecuacionMin | percent}}</label>
          <input type="text" style="width: 50px; display: inline-block;" *ngIf="!itemsDisabled"
            class="control-md text-center" [(ngModel)]="item.porcentajeAdecuacionMin" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="changeModelMinutaNutriente('porcentajeAdecuacionMin', $event, item)">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mt-xxl">
  <table class="table-default table-border-dashed-vertical">
    <thead>
      <tr class="text-center">
        <th class="empty"></th>
        <th class="border-top-left-radius-md p-xxs noborder-bottom" colspan="100">Micronutrientes</th>
      </tr>
      <tr class="text-center">
        <th class="empty border-bottom"></th>
        <th class="noBorder-radius" [class]="i === 0 ? 'border-left' : ''"
          *ngFor="let column of dataColumnsMicro; index as i">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="150px">
          Aporte estimado
        </td>
        <td width="150px" class="text-center" *ngFor="let item of dataMicroNutrientes">
          <label *ngIf="itemsDisabled">
            {{item.aporteMinimo}}
          </label>
          <input type="text" style="width: 50px; display: inline-block;" *ngIf="!itemsDisabled"
            class="control-md text-center" [(ngModel)]="item.aporteMinimo" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="changeModelMinutaNutriente('aporteMinimo', $event, item)">
        </td>
      </tr>
      <tr>
        <td>
          Recomendaci&oacute;n diaria
        </td>
        <td class="text-center" *ngFor="let item of dataMicroNutrientes">
          <label *ngIf="itemsDisabled || item.calculado">
            {{item.aporteRecomendadoMin}}
          </label>
          <input type="text" style="width: 50px; display: inline-block;" *ngIf="!itemsDisabled && !item.calculado && !esCampoOpcional(item.idNutriente)"
            class="control-md text-center" [(ngModel)]="item.aporteRecomendadoMin" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="changeModelMinutaNutriente('aporteRecomendadoMin', $event, item)">
        </td>
      </tr>
      <tr>
        <td>
          Regla de adecuaci&oacute;n
        </td>
        <td class="text-center" *ngFor="let item of dataMicroNutrientes">
          <ng-container *ngIf="itemsDisabled">
            <label *ngIf="item.idNutriente == 4" class="text-nowrap">Máximo {{item.porcentajeAdecuacionMin + 'mg/Kcal'}}</label>
            <label *ngIf="item.idNutriente != 4">Mínimo {{item.porcentajeAdecuacionMin | percent}}</label>
          </ng-container>
          <ng-container *ngIf="!itemsDisabled">
            <input type="text" style="width: 50px; display: inline-block;" *ngIf="!itemsDisabled"
            class="control-md text-center" [(ngModel)]="item.porcentajeAdecuacionMin" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="changeModelMinutaNutriente('porcentajeAdecuacionMin', $event, item)">
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-spinner *ngIf="loadingVisible"></app-spinner>
