@import '/src/assets/styles/variable.scss';


.mat-button-toggle-checked{
    color: white !important;
}
:host ::ng-deep .mat-button-toggle-checked{
    color: white !important;
   font-size: 20px;
    background-color: #ed0057!important;
    padding: 0% 1%;

}
.textointerno{
    color: #004884 !important;
}
.tablaform3{
    width: 100%;
    border-color: #E2E6FE !important;
    background-color: #E2ECFD !important;
    color: $base-color;
    border: 1px solid;
    border-radius: 12px 12px 12px 12px !important;
    font-size: 16px;
    margin: 5px;

}
img {
    height: 18px;
    align-items: center;
    margin: auto;
}
